
<select class="chord-select" id="chord_1">
  <optgroup label="B">
    <option value="_B_">B</option>
    <option value="_B_m">Bm</option>
    <option value="_B_7">B7</option>
    <option value="_B_m7">Bm7</option>
    <option value="_B_maj7">BΔ</option>
    <option value="_B_6">B6</option>
    <option value="_B_m7b5">Bm7b5</option>
    <option value="_B_dim">Bo</option>
    <option value="_B_sus4">Bsus4</option>
  </optgroup>
  <optgroup label="Bb">
    <option value="_Bb_">Bb</option>
    <option value="_Bb_m">Bbm</option>
    <option value="_Bb_7">Bb7</option>
    <option value="_Bb_m7">Bbm7</option>
    <option value="_Bb_maj7">BbΔ</option>
    <option value="_Bb_6">Bb6</option>
    <option value="_Bb_m7b5">Bbm7b5</option>
    <option value="_Bb_dim">Bbo</option>
    <option value="_Bb_sus4">Bbsus4</option>
  </optgroup>
  <optgroup label="A#">
    <option value="_A#_">A#</option>
    <option value="_A#_m">A#m</option>
    <option value="_A#_7">A#7</option>
    <option value="_A#_m7">A#m7</option>
    <option value="_A#_maj7">A#Δ</option>
    <option value="_A#_6">A#6</option>
    <option value="_A#_m7b5">A#m7b5</option>
    <option value="_A#_dim">A#o</option>
    <option value="_A#_sus4">A#sus4</option>
  </optgroup>
  <optgroup label="A">
    <option value="_A_">A</option>
    <option value="_A_m">Am</option>
    <option value="_A_7">A7</option>
    <option value="_A_m7">Am7</option>
    <option value="_A_maj7">AΔ</option>
    <option value="_A_6">A6</option>
    <option value="_A_m7b5">Am7b5</option>
    <option value="_A_dim">Ao</option>
    <option value="_A_sus4">Asus4</option>
  </optgroup>
  <optgroup label="Ab">
    <option value="_Ab_">Ab</option>
    <option value="_Ab_m">Abm</option>
    <option value="_Ab_7">Ab7</option>
    <option value="_Ab_m7">Abm7</option>
    <option value="_Ab_maj7">AbΔ</option>
    <option value="_Ab_6">Ab6</option>
    <option value="_Ab_m7b5">Abm7b5</option>
    <option value="_Ab_dim">Abo</option>
    <option value="_Ab_sus4">Absus4</option>
  </optgroup>
  <optgroup label="G#">
    <option value="_G#_">G#</option>
    <option value="_G#_m">G#m</option>
    <option value="_G#_7">G#7</option>
    <option value="_G#_m7">G#m7</option>
    <option value="_G#_maj7">G#Δ</option>
    <option value="_G#_6">G#6</option>
    <option value="_G#_m7b5">G#m7b5</option>
    <option value="_G#_dim">G#o</option>
    <option value="_G#_sus4">G#sus4</option>
  </optgroup>
  <optgroup label="G">
    <option value="_G_">G</option>
    <option value="_G_m">Gm</option>
    <option value="_G_7">G7</option>
    <option value="_G_m7">Gm7</option>
    <option value="_G_maj7">GΔ</option>
    <option value="_G_6">G6</option>
    <option value="_G_m7b5">Gm7b5</option>
    <option value="_G_dim">Go</option>
    <option value="_G_sus4">Gsus4</option>
  </optgroup>
  <optgroup label="Gb">
    <option value="_Gb_">Gb</option>
    <option value="_Gb_m">Gbm</option>
    <option value="_Gb_7">Gb7</option>
    <option value="_Gb_m7">Gbm7</option>
    <option value="_Gb_maj7">GbΔ</option>
    <option value="_Gb_6">Gb6</option>
    <option value="_Gb_m7b5">Gbm7b5</option>
    <option value="_Gb_dim">Gbo</option>
    <option value="_Gb_sus4">Gbsus4</option>
  </optgroup>
  <optgroup label="F#">
    <option value="_F#_">F#</option>
    <option value="_F#_m">F#m</option>
    <option value="_F#_7">F#7</option>
    <option value="_F#_m7">F#m7</option>
    <option value="_F#_maj7">F#Δ</option>
    <option value="_F#_6">F#6</option>
    <option value="_F#_m7b5">F#m7b5</option>
    <option value="_F#_dim">F#o</option>
    <option value="_F#_sus4">F#sus4</option>
  </optgroup>
  <optgroup label="F">
    <option value="_F_">F</option>
    <option value="_F_m">Fm</option>
    <option value="_F_7">F7</option>
    <option value="_F_m7">Fm7</option>
    <option value="_F_maj7">FΔ</option>
    <option value="_F_6">F6</option>
    <option value="_F_m7b5">Fm7b5</option>
    <option value="_F_dim">Fo</option>
    <option value="_F_sus4">Fsus4</option>
  </optgroup>
  <optgroup label="E">
    <option value="_E_">E</option>
    <option value="_E_m">Em</option>
    <option value="_E_7">E7</option>
    <option value="_E_m7">Em7</option>
    <option value="_E_maj7">EΔ</option>
    <option value="_E_6">E6</option>
    <option value="_E_m7b5">Em7b5</option>
    <option value="_E_dim">Eo</option>
    <option value="_E_sus4">Esus4</option>
  </optgroup>
  <optgroup label="Eb">
    <option value="_Eb_">Eb</option>
    <option value="_Eb_m">Ebm</option>
    <option value="_Eb_7">Eb7</option>
    <option value="_Eb_m7">Ebm7</option>
    <option value="_Eb_maj7">EbΔ</option>
    <option value="_Eb_6">Eb6</option>
    <option value="_Eb_m7b5">Ebm7b5</option>
    <option value="_Eb_dim">Ebo</option>
    <option value="_Eb_sus4">Ebsus4</option>
  </optgroup>
  <optgroup label="D#">
    <option value="_D#_">D#</option>
    <option value="_D#_m">D#m</option>
    <option value="_D#_7">D#7</option>
    <option value="_D#_m7">D#m7</option>
    <option value="_D#_maj7">D#Δ</option>
    <option value="_D#_6">D#6</option>
    <option value="_D#_m7b5">D#m7b5</option>
    <option value="_D#_dim">D#o</option>
    <option value="_D#_sus4">D#sus4</option>
  </optgroup>
  <optgroup label="D">
    <option value="_D_">D</option>
    <option value="_D_m">Dm</option>
    <option value="_D_7">D7</option>
    <option value="_D_m7">Dm7</option>
    <option value="_D_maj7">DΔ</option>
    <option value="_D_6">D6</option>
    <option value="_D_m7b5">Dm7b5</option>
    <option value="_D_dim">Do</option>
    <option value="_D_sus4">Dsus4</option>
  </optgroup>
  <optgroup label="Db">
    <option value="_Db_">Db</option>
    <option value="_Db_m">Dbm</option>
    <option value="_Db_7">Db7</option>
    <option value="_Db_m7">Dbm7</option>
    <option value="_Db_maj7">DbΔ</option>
    <option value="_Db_6">Db6</option>
    <option value="_Db_m7b5">Dbm7b5</option>
    <option value="_Db_dim">Dbo</option>
    <option value="_Db_sus4">Dbsus4</option>
  </optgroup>
  <optgroup label="C#">
    <option value="_C#_">C#</option>
    <option value="_C#_m">C#m</option>
    <option value="_C#_7">C#7</option>
    <option value="_C#_m7">C#m7</option>
    <option value="_C#_maj7">C#Δ</option>
    <option value="_C#_6">C#6</option>
    <option value="_C#_m7b5">C#m7b5</option>
    <option value="_C#_dim">C#o</option>
    <option value="_C#_sus4">C#sus4</option>
  </optgroup>
  <optgroup label="C">
    <option value="_C_">C</option>
    <option value="_C_m">Cm</option>
    <option value="_C_7">C7</option>
    <option value="_C_m7">Cm7</option>
    <option value="_C_maj7">CΔ</option>
    <option value="_C_6">C6</option>
    <option value="_C_m7b5">Cm7b5</option>
    <option value="_C_dim">Co</option>
    <option value="_C_sus4">Csus4</option>
  </optgroup>
    <option value="dash">-</option>
</select>
