




<select name="chord_1" class=" form-group select form-control chord_select" id="chord_1">
    <option value=".">-</option>
  <optgroup label="C">
    <option value="_C_">C</option>
    <option value="_C_m">Cm</option>
    <option value="_C_7">C7</option>
    <option value="_C_m7">Cm7</option>
    <option value="_C_maj7">CΔ</option>
    <option value="_C_6">C6</option>
    <option value="_C_m7b5">Cm7b5</option>
    <option value="_C_dim">Co</option>
  </optgroup>
  <optgroup label="B">
    <option value="_B_">B</option>
    <option value="_B_m">Bm</option>
    <option value="_B_7">B7</option>
    <option value="_B_m7">Bm7</option>
    <option value="_B_maj7">BΔ</option>
    <option value="_B_6">B6</option>
    <option value="_B_m7b5">Bm7b5</option>
    <option value="_B_dim">Bo</option>
  </optgroup>
  <optgroup label="Bb">
    <option value="_Bb_">Bb</option>
    <option value="_Bb_m">Bbm</option>
    <option value="_Bb_7">Bb7</option>
    <option value="_Bb_m7">Bbm7</option>
    <option value="_Bb_maj7">BbΔ</option>
    <option value="_Bb_6">Bb6</option>
    <option value="_Bb_m7b5">Bbm7b5</option>
    <option value="_Bb_dim">Bbo</option>
  </optgroup>
  <optgroup label="A">
    <option value="_A_">A</option>
    <option value="_A_m">Am</option>
    <option value="_A_7">A7</option>
    <option value="_A_m7">Am7</option>
    <option value="_A_maj7">AΔ</option>
    <option value="_A_6">A6</option>
    <option value="_A_m7b5">Am7b5</option>
    <option value="_A_dim">Ao</option>
  </optgroup>
  <optgroup label="Ab">
    <option value="_Ab_">Ab</option>
    <option value="_Ab_m">Abm</option>
    <option value="_Ab_7">Ab7</option>
    <option value="_Ab_m7">Abm7</option>
    <option value="_Ab_maj7">AbΔ</option>
    <option value="_Ab_6">Ab6</option>
    <option value="_Ab_m7b5">Abm7b5</option>
    <option value="_Ab_dim">Abo</option>
  </optgroup>
  <optgroup label="G">
    <option value="_G_">G</option>
    <option value="_G_m">Gm</option>
    <option value="_G_7">G7</option>
    <option value="_G_m7">Gm7</option>
    <option value="_G_maj7">GΔ</option>
    <option value="_G_6">G6</option>
    <option value="_G_m7b5">Gm7b5</option>
    <option value="_G_dim">Go</option>
  </optgroup>
  <optgroup label="Gb">
    <option value="_Gb_">Gb</option>
    <option value="_Gb_m">Gbm</option>
    <option value="_Gb_7">Gb7</option>
    <option value="_Gb_m7">Gbm7</option>
    <option value="_Gb_maj7">GbΔ</option>
    <option value="_Gb_6">Gb6</option>
    <option value="_Gb_m7b5">Gbm7b5</option>
    <option value="_Gb_dim">Gbo</option>
  </optgroup>
  <optgroup label="F">
    <option value="_F_">F</option>
    <option value="_F_m">Fm</option>
    <option value="_F_7">F7</option>
    <option value="_F_m7">Fm7</option>
    <option value="_F_maj7">FΔ</option>
    <option value="_F_6">F6</option>
    <option value="_F_m7b5">Fm7b5</option>
    <option value="_F_dim">Fo</option>
  </optgroup>
  <optgroup label="E">
    <option value="_E_">E</option>
    <option value="_E_m">Em</option>
    <option value="_E_7">E7</option>
    <option value="_E_m7">Em7</option>
    <option value="_E_maj7">EΔ</option>
    <option value="_E_6">E6</option>
    <option value="_E_m7b5">Em7b5</option>
    <option value="_E_dim">Eo</option>
  </optgroup>
  <optgroup label="Eb">
    <option value="_Eb_">Eb</option>
    <option value="_Eb_m">Ebm</option>
    <option value="_Eb_7">Eb7</option>
    <option value="_Eb_m7">Ebm7</option>
    <option value="_Eb_maj7">EbΔ</option>
    <option value="_Eb_6">Eb6</option>
    <option value="_Eb_m7b5">Ebm7b5</option>
    <option value="_Eb_dim">Ebo</option>
  </optgroup>
  <optgroup label="D">
    <option value="_D_">D</option>
    <option value="_D_m">Dm</option>
    <option value="_D_7">D7</option>
    <option value="_D_m7">Dm7</option>
    <option value="_D_maj7">DΔ</option>
    <option value="_D_6">D6</option>
    <option value="_D_m7b5">Dm7b5</option>
    <option value="_D_dim">Do</option>
  </optgroup>
  <optgroup label="Db">
    <option value="_Db_">Db</option>
    <option value="_Db_m">Dbm</option>
    <option value="_Db_7">Db7</option>
    <option value="_Db_m7">Dbm7</option>
    <option value="_Db_maj7">DbΔ</option>
    <option value="_Db_6">Db6</option>
    <option value="_Db_m7b5">Dbm7b5</option>
    <option value="_Db_dim">Dbo</option>
  </optgroup>
</select>
