{% load static %}


{% if request.user.is_authenticated %}
      <form class="favorite" id="favorite-section_{{ lick.id }}" action="{% url 'favorite_lick' %}" method="post">
        {% csrf_token %}
        {% if lick in user_faved %}
        <button class="panel-btn fav-btn" type="submit" id="favorite_{{ lick.id }}" name="lick_id" value="{{ lick.id }}">
            <i class="fas fa-star fa-lg"></i>
        </button>
        {% else %}
        <button class="panel-btn fav-btn" type="submit" id="favorite_{{ lick.id }}" name="lick_id" value="{{ lick.id }}">
            <i class="far fa-star fa-lg"></i>
        </button>
        {% endif %}
      </form>
      <script type="text/javascript">
            $(document).on('click', '#favorite_{{ lick.id }}', function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                $.ajax({
                    type: 'POST',
                    url: '{% url "favorite_lick" %}',
                    data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response){
                        $('#favorite-section_{{ lick.id }}').html(response['form'])
                    },
                    error: function(rs, e){
                    }
                });
                $(document).off('click');
            });
        </script>

{% else %}

    <form class="favorite" id="favorite-section_{{ lick.id }}" action="{% url 'login' %}">
        <button class="panel-btn fav-btn" type="submit" id="fav_{{ lick.id }}" name="lick_id" value="{{ lick.id }}">
            <i class="far fa-star fa-lg"></i>
        </button>
    </form>

{% endif %}
