{% load static %}


{% if request.user.is_authenticated %}
      <form action="{% url 'favorite_lick' %}" method="post">
        {% csrf_token %}
        {% if lick in user_faved %}
        <button class="panel-btn fav-btn favorite_{{ lick.id }}" type="submit" name="lick_id" value="{{ lick.id }}">
            <span class="icon icon-star"></span>
        </button>
        {% else %}
        <button class="panel-btn fav-btn favorite_{{ lick.id }}" type="submit" name="lick_id" value="{{ lick.id }}">
            <span class="icon icon-star-o"></span>
        </button>
        {% endif %}
      </form>
      <script type="text/javascript">
            $(document).on('click', '.favorite_{{ lick.id }}', function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                $.ajax({
                    type: 'POST',
                    url: '{% url "favorite_lick" %}',
                    data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response){
                        $('.favorite-section_{{ lick.id }}').html(response['form'])
                    },
                    error: function(rs, e){
                    }
                });
                $(document).off('click');
            });
        </script>

{% else %}

    <form action="{% url 'login' %}">
        <button class="panel-btn fav-btn fav_{{ lick.id }}" type="submit" name="lick_id" value="{{ lick.id }}">
            <span class="icon icon-star-o"></span>
        </button>
    </form>

{% endif %}
