{% load static %}
{% load repo_extras %}


<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">


<article class="lick lick-section" id="lick_{{ lick.id }}">


        <h5 style="color: #00ff00;">Lick {{ lick.id }}</h5>
        <audio controls>
          <source src="{{ lick.file.url }}">
        </audio>

        <div class="chord_seq" id="chord_seq_{{ lick.id }}" value="{{ lick.chord_seq_search}}" style="display: none;"></div>
        <div class="transpose_rule" id="transpose_rule_{{ lick.id }}" value="{{ lick.transpose_rule}}" style="display: none;"></div>
        <div class="time_signature" id="time_signature_{{ lick.id }}" value="{{ lick.time_signature}}" style="display: none;"></div>


        <div class="lick-metadata">
            <div class="description">
                {{ lick.id }}
                <small class="text-muted"> – {{ lick.instrument }} </small>
                <small class="text-muted"> – {{ lick.author }} </small>
                <small class="text-muted"> – {{ lick.date_posted|date:"Y b d" }}</small>
                <br>
                {% for tag in lick.tags.names %}
                <small class="text-muted">#{{tag}} </small>
                {% endfor %}
                <br>
            </div>


            <div class="like" id="like-section_{{ lick.id }}">
                {% include 'repo/snippets/like_section.html' %}
            </div>
            <div class="favorite" id="favorite-section_{{ lick.id }}">
                {% include 'repo/snippets/favorite_section.html' %}
            </div>


        </div>

    <div class="audio-player col-12">
          <button class="play" id="{{ lick.id }}[X]{{ lick.file.url }}"><i class="ion-play"></i></button>

          <div class="seek-bar" id="seekbar_{{ lick.id }}">
              <div class="fill"></div>
              <div class="handle"></div>
          </div>
    </div>

    <div class="lick-display col-12">
    <div class="row chords-row">
        <div class="separator-lr"></div>
            <div name="chord_1" class="chord-img"><img src="#"></div>
        <div class="separator-34"></div>
            <div name="chord_2" class="chord-img"><img src="#"></div>
        <div class="separator-34"></div>
            <div name="chord_3" class="chord-img"><img src="#"></div>
            <div name="chord_4" class="chord-img"><img src="#"></div>
        <div class="separator-mid"></div>
            <div name="chord_5" class="chord-img"><img src="#"></div>
        <div class="separator-34"></div>
            <div name="chord_6" class="chord-img"><img src="#"></div>
        <div class="separator-34"></div>
            <div name="chord_7" class="chord-img"><img src="#"></div>
            <div name="chord_8" class="chord-img"><img src="#"></div>
        <div class="separator-lr"></div>
    </div>
    </div>

    <div class="lick-display col-12">
    <div class="row chords-row">
        <div class="separator-lr"></div>
            <div name="chord_9" class="chord-img"><img src="#"></div>
        <div class="separator-34"></div>
            <div name="chord_10" class="chord-img"><img src="#"></div>
        <div class="separator-34"></div>
            <div name="chord_11" class="chord-img"><img src="#"></div>
            <div name="chord_12" class="chord-img"><img src="#"></div>
        <div class="separator-mid"></div>
            <div name="chord_13" class="chord-img"><img src="#"></div>
        <div class="separator-34"></div>
            <div name="chord_14" class="chord-img"><img src="#"></div>
        <div class="separator-34"></div>
            <div name="chord_15" class="chord-img"><img src="#"></div>
            <div name="chord_16" class="chord-img"><img src="#"></div>
        <div class="separator-lr"></div>
    </div>
    </div>



    <div class="lick-controls col-12">

                <button class="slowdown btn-default" id="slowdown-section_{{ lick.id }}">
                    <input class="slowdown-btn" type="image" id="slowdown_{{ lick.id }}" onclick="slowdown('{{ lick.id }}');" value="1" src="{% static 'img/tortoise_toggled.png' %}" alt="slowdown">
                </button>

                  <select class="transpose-btn" id="transpose_{{ lick.id }}" name="transpose" onchange="updateChords('{{ lick.id }}')">
                    <option value="12">+12</option>
                    <option value="11">+11</option>
                    <option value="10">+10</option>
                    <option value="9">+9</option>
                    <option value="8">+8</option>
                    <option value="7">+7</option>
                    <option value="6">+6</option>
                    <option value="5">+5</option>
                    <option value="4">+4</option>
                    <option value="3">+3</option>
                    <option value="2">+2</option>
                    <option value="1">+1</option>
                    <option value="0" selected="selected">T</option>
                  </select>

            {% if lick.author == user %}
                    <a class="edit-btn" id="edit-section_{{ lick.id }}" href="{% url 'lick-update' lick.id %}">
                      <i class="fas fa-edit fa-lg"></i>
                    </a>
            {% endif %}

    </div>


</article>

<script type="text/javascript">


// set initial transpose value according to query

selectElement('transpose_{{ lick.id }}', {{ lick.chord_seq_search | chord_seq_T:chord_seq_query }})


/*
// make current playButton clickable
playButton = document.getElementById("{{ lick.id }}[X]{{ lick.file.url }}");
playButton.addEventListener('click', function () {
    activatePlayBtn();
});
*/

</script>
