{% load static %}
{% load repo_extras %}

<script type="text/javascript">


function transposeChord(input,transpose_by) {
    element = input.match(/(_[a-gA-g]{1,2}_)/)[0]
    if (transpose_by >= 0) {
        var chds = ["_C_", "_Db_", "_D_", "_Eb_", "_E_", "_F_", "_Gb_", "_G_", "_Ab_", "_A_", "_Bb_", "_B_"]
    } else {
        var chds = ["_C_", "_B_", "_Bb_", "_A_", "_Ab_", "_G_", "_Gb_", "_F_", "_E_", "_Eb_", "_D_", "_Db_"]
    }
    var start = chds.indexOf(element)
    element_transposed =  chds[(start + Math.abs(transpose_by)) % chds.length];
    return input.replace(/(_[a-gA-g]{1,2}_)/, element_transposed);
}



function transposePlayers(){
    playback_rates = []
    transpose_bys = []
    for (let i = 0; i < play_btns.length; i++) {
        transpose_bys.push(Number(licks[i].getElementsByClassName('transpose-btn')[0].value))
        playback_rates.push(licks[i].getElementsByClassName('slowdown-btn')[0].value)
        audios[i].playbackRate = playback_rates[i];
        players[i].playbackRate = playback_rates[i];
        // transpose using current transpose_by value
        if (playback_rates[i] == 1){
            pitchShift = new Tone.PitchShift({
            pitch: transpose_bys[i].toString()
            }).toDestination();
        } else { //if playbackrate == 0.5 add +12 to pitch to correct
            trans = transpose_bys[i] + 12
            trans = trans.toString()
            pitchShift = new Tone.PitchShift({
            pitch: trans
          }).toDestination();
        }
        // disconnect old player (get overlay of two players otherwise)
        players[i].disconnect();
        players[i].connect(pitchShift);

    }
}


function updateChords() {
    for (const lick of licks) {
        let chords = lick.getElementsByClassName('chord_seq')[0].getAttribute("value").split('x').slice(1,17);
        let transpose = Number(lick.getElementsByClassName('transpose-btn')[0].value)
        let chord_imgs = lick.getElementsByTagName('img')
        let i
        for (i = 0; i < 16; i++) {
            if (!chord_imgs[i].hasAttribute("name")) {
                chord_imgs[i].name = chords[i]
            }
            if (chords[i] == '.'){
                chord_imgs[i].src =  chords_dir + '..png'
            } else {
                chord_imgs[i].src =  chords_dir + transposeChord(chords[i], transpose) + '.png'
            }
        }
    }
    transposePlayers();
}


function make_ts34(lck){
    let chord_fields = lck.getElementsByClassName('chord-img')
    chord_fields[3].style.display = "none"
    chord_fields[7].style.display = "none"
    chord_fields[11].style.display = "none"
    chord_fields[15].style.display = "none"

    sep34 = Array.prototype.slice.call(lck.getElementsByClassName('separator-34'));
    sep34.forEach( function(element){ element.style.width = '2.9%'; });

    seplr = Array.prototype.slice.call(lck.getElementsByClassName('separator-lr'));
    seplr.forEach( function(element){ element.style.width = '5%'; });

    sepmid = Array.prototype.slice.call(lck.getElementsByClassName('separator-mid'));
    sepmid.forEach( function(element){ element.style.width = '8.8%'; });
}


// initialize variables and controls for all licks

const chords_dir = "{% static 'img/chords/' %}"
const licks = document.getElementsByClassName('lick')
const play_btns = document.getElementsByClassName('play')
const seekBars = document.getElementsByClassName('seek-bar')
const fillBars = document.getElementsByClassName('fill')
mouseDown = false;
players = []
audios = []
playButtonIcons = []

for (let i = 0; i < play_btns.length; i++) {

    // time signetures
    let time_signature = licks[i].getElementsByClassName('time_signature')[0].getAttribute('value');
    if (time_signature == 34){
        make_ts34(licks[i]);
    };

    let audio_url = play_btns[i].id.split('[X]')[1]
    players.push(new Tone.Player(audio_url));
    audios.push(new Audio(audio_url));
    playButtonIcons.push(play_btns[i].querySelector('i'));
    audios[i].volume = 0;
    players[i].toDestination();

    play_btns[i].addEventListener('click', function () {
        if (audios[i].paused) {
            audios[i].play();
            ofs = audios[i].currentTime;
            players[i].start();
            players[i].seek(offset = ofs);
        } else {
            audios[i].pause();
            players[i].stop(0);
        }
    });

    audios[i].addEventListener('play', function () {
      playButtonIcons[i].className = 'ion-pause';
      resetAudio(i);
    });

    audios[i].addEventListener('pause', function () {
      playButtonIcons[i].className = 'ion-play';
    });

    audios[i].addEventListener('timeupdate', function () {
      if (mouseDown) return;
        let p = audios[i].currentTime / audios[i].duration;
        fillBars[i].style.width = p * 100 + "%";
    });

    seekBars[i].addEventListener('mousedown', function (e) {
      mouseDown = true;
      window.rect = e.target.getBoundingClientRect();
      let x = e.clientX - rect.left;
      let p = x / seekBars[i].clientWidth;
      fillBars[i].style.width = p * 100 + "%";
    });

    licks[i].addEventListener('mousemove', function (e) {
      if (!mouseDown) return;
        let x = e.clientX - rect.left;
        let p = x / seekBars[i].clientWidth;
        fillBars[i].style.width = p * 100 + "%";
    });

    licks[i].addEventListener('mouseup', function (e) {
      if (!mouseDown) return;
        mouseDown = false;
        let x = e.clientX - rect.left;
        let p = x / seekBars[i].clientWidth;
        fillBars[i].style.width = p * 100 + "%";
        audios[i].currentTime = p * audios[i].duration;
        ofs = audios[i].currentTime;
      if (!audios[i].paused) {
        players[i].start();
        players[i].seek(offset = ofs);
      }
    });
}


updateChords();



// reset other licks
function resetAudio(num){
    for (let i = 0; i < play_btns.length; i++) {
        if (num != i){
            audios[i].pause();
            audios[i].currentTime = 0;
            players[i].stop(0);
        }
    }
}


// slow down audio button
function slowdown(clicked_id) {
    selected_tortoise = document.getElementById(clicked_id)
    if (selected_tortoise.value == "1") {
        selected_tortoise.src="{% static 'img/tortoise_toggled.png' %}"; // change icon to toggled version
        selected_tortoise.value="0.5";
    } else {
        selected_tortoise.value="1";
        selected_tortoise.src="{% static 'img/tortoise_default.png' %}"; // change icon to default version
        selected_tortoise.value="1";
    }
    transposePlayers();
}



</script>
