{% load static %}

{% if request.user.is_authenticated %}
      <form action="{% url 'like_lick' %}" method="post" style="float: right;">
        {% csrf_token %}
        <small class="text-muted">{{ lick.total_likes }} Like{{ lick.total_likes|pluralize }}</small>
        {% if lick in user_liked %}
        <button class="like-btn" type="submit" id="like_{{ lick.id }}" name="lick_id" value="{{ lick.id }}" class="btn btn-primary">
            <i class="fas fa-thumbs-up fa-lg" style="color: #0000BB"></i>
        </button>
        {% else %}
        <button class="like-btn" type="submit" id="like_{{ lick.id }}" name="lick_id" value="{{ lick.id }}" class="btn btn-primary">
            <i class="far fa-thumbs-up fa-lg" style="color: #0000BB"></i>
        </button>
        {% endif %}
      </form>
      <script type="text/javascript">
            $(document).on('click', '#like_{{ lick.id }}', function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                $.ajax({
                    type: 'POST',
                    url: '{% url "like_lick" %}',
                    data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response){
                        $('#like-section_{{ lick.id }}').html(response['form'])
                    },
                    error: function(rs, e){
                    }
                });
                $(document).off('click');
            });
        </script>

{% else %}

    <form action="{% url 'login' %}" style="float:right;">
        <small class="text-muted">{{ lick.total_likes }} Like{{ lick.total_likes|pluralize }}</small>
        <button class="like-btn" type="submit" id="like_{{ lick.id }}" name="lick_id" value="{{ lick.id }}" class="btn btn-primary">
            <i class="far fa-thumbs-up fa-lg" style="color: #0000BB"></i>
        </button>
    </form>

{% endif %}
