{% load repo_extras %}

{% if licks.has_other_pages %}
<div class="paginator">
    {% if licks.has_previous %}
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' 1 %}"><i class="fas fa-angle-double-left fa-lg"></i></a>
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.previous_page_number %}"><i class="fas fa-angle-left fa-lg"></i></a>
    {% endif %}

    {% for num in licks.paginator.page_range %}
      {% if licks.number == num %}
        <a class = "btn btn-primary mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% elif num > licks.number|add:'-4' and num < licks.number|add:'4'%}
        <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if licks.has_next %}
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.next_page_number %}"><i class="fas fa-angle-right fa-lg"></i></a>
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.paginator.num_pages %}"><i class="fas fa-angle-double-right fa-lg"></i></a>
    {% endif %}
</div>
{% endif %}
