html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-color: #000040;
}

@media (min-width:1200px){
    html, body{
        background-image: url("/static/img/pk_wallpaper_dark.jpeg");
        background-size: cover;
        background-attachment: fixed;
    }
}


.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}


.icon-play{
  color: #f9f9f9;
  font-size: 18px;
}

.icon-pause{
  color: #f9f9f9;
  font-size: 18px;
  transform: scale(0.75,1);
}

.icon-edit{
  font-weight: 600;
  color: #006400;
  font-size: 28px;
  margin-top: 2px;
}

.icon-thumbs-o-up,  .icon-thumbs-up{
  color: #0000BB;
  margin-top: 2px;
}

.icon-star-o, .icon-star{
  color: #C00001;
  margin-top: 2px;
}

.icon-search{
  display:inline;
  font-size: 18px;
  margin-left: 5px;
}

.icon-recycle{
  margin-top: 4px;
  margin-left: 1px;
}

.icon-trash{
  font-size: 22px;
}

.navbar {
  background-color: #e5e5e5;
  padding: .8rem;
}

.navbar-logo {
  max-width: 100%;
  height: 50px;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

main{
  min-height: 100%;
}

.main-content{
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width:540px){
  .main-content{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width:768px){
  .main-content{
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.panel {
  margin: 20px 0px;
  background-color: #f9f9f9;
  width: 100%;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 15px;
  box-shadow: 5px 5px 5px;
}

.panel-btn{
  width: 35px;
  height: 35px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 2px solid #333;
}


.center-wrapper {
  display: flex;
  justify-content: center;
}


footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 90%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.footer-logo {
  height: 60px;
  margin-bottom: 10px;
}
.footer-icon{
  display: inline;
  font-size: 48px;
  margin-right: 10px;
}
