#textfield_description{
    min-width : 100%;
    max-width : 100%;
    min-height : 10rem;
}


#textfield_body{
    min-width : 100%;
    max-width : 100%;
    min-height : 20rem;
}


.wmd-panel {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
}

.wmd-input{
    min-height: 400px;
}

.wmd-preview{
    display: none;
}
