
.search-btn {
  width: 100%;
  margin-top: 20px;
}


#form-chords-input {
    padding: 0px;
}


#lick-data {
    margin: 20px 0px 0px 0px;
}

.checkboxes {
    margin: 20px 0px 0px 0px;
}











