
/*avoid text overflow */
input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
input:-moz-placeholder { text-overflow: ellipsis; }


.lick-form {
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.lick-form div{
    padding: 0px;
}

.form-head-section{
    display: flex;
    margin-bottom: -20px;
}

#delete-lick-btn{
    position: absolute;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #333;
}

#div_id_file {
    display: none;
}

.error {
    color: #ff0000;
}

#inpFileLabel {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid #333;
}

#inpFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}




.audio-player {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    height: 40px;
    padding: 0px 0px 0px 5px;
}


.audio-player button.play {
        display: block;
        width: 35px;
        height: 35px;
        border: 0;
        background-color: #333333;
        color: white;
        font-size: 20px;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
}


.seek-bar {

    margin-left: 10px;
    margin-right: 5px;
    width: 100%;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    border-radius: 100000px;
    cursor: pointer;
}

.seek-bar .fill {
  height: 20px;
  background-color: #666666;
  border-radius: 100000px;
}

.seek-bar .handle {
  width: 8px;
  height: 20px;
  background-color: #333333;
  border-radius: 100000px;
  margin-left: -5px;
  transform: scale(2);
  transition: all 0.1s;
  pointer-events: none;
}

.preview-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    opacity: .8;
}


#instrument-row {
    margin: 20px 0px -30px 0px;
}


#div_id_time_signature {
    width: 100%;
}
/*time signature radio btns next to each other*/
.form-check {
    margin-left: 20px;
}

#check-form-btn{
    margin-top: 40px;
}

