{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

<h1>Articles</h1>

{% for article in articles %}
<section class="panel">
    <article>
        <h2><a href="{% url 'blog:article-detail' slug=article.slug %}">{{ article.title }}</a></h2>
        <p>{{ article.author }} – <small>{{ article.date_published }}</small></p>
        <p>{{ article.description }}</p>
    </article>
</section>
{% endfor%}

{% endblock content %}
