{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block head_title %}{{ block.super }} | {{article.title }}{% endblock head_title %}

{% block meta_description %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:title" content="LickStack | {{article.title }}" />
    <meta property="og:description" content="{{ article.description }}" />
{% endblock meta_description %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lick_snippet.css' %}">

<script type="text/javascript">
    // used to select initial value of transpose button
    function selectElement(id, valueToSelect) {
    let element = document.getElementById(id);
    element.value = valueToSelect;
    }
</script>

<div class="row margin">
    <div id= "ads-left" class="col-md-0 col-lg-0 col-xl-2"></div>
    <div class="main-content-column col-md-9 col-lg-8 col-xl-8">



<section id="article-section">
        <h1>{{ article.title }}</h1>
        <p><small>{{ article.author }} | {% if article.draft %}<span style="color:red;">Draft</span>{% endif %} {{ article.date_published }}</small></p>
        <p><b>{{ article.description }}</b></p>

        {% if article.image %}
        <img src='{{article.image.url}}' class='img-responsive'>
        {% endif %}
        <hr>
        <div class="social-share">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><span class="icon icon-facebook-square footer-icon" style="color: #3b5998"></span></a>
            <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}"><span class="icon icon-twitter-square footer-icon" style="color: #00acee"></span></a>
            <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}"><span class="icon icon-reddit-square footer-icon" style="color: #ff4301"></span></a>
        </div>
        <hr>
        <div id="content">{{ article.get_markdown }}</div>

        <br>
</section>

    {% for lick in licks %}
        {% include 'repo/snippets/lick_snippet.html' with lick=lick chord_seq_query=chord_seq_query %}
    {% endfor %}

<hr>
<p><em>If you found this article helpful and/or interesting, please consider sharing it with fellow musicians!</em></p>

<div class="social-share">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><span class="icon icon-facebook-square footer-icon" style="color: #3b5998"></span></a>
    <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}"><span class="icon icon-twitter-square footer-icon" style="color: #00acee"></span></a>
    <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}"><span class="icon icon-reddit-square footer-icon" style="color: #ff4301"></span></a>
</div>
<hr>

<section id="read_on">
    {% if next_article %}
    <div class="read_on_link" style="text-align: right; justify-content: flex-end;">
        <div class="read_on_title">{{ next_article.title }}</div>
        <a href="{{ next_article.get_absolute_url }}" class="btn btn-primary read_on_btn" role="button">NEXT <span class="icon-chevron-right"></span></a>
    </div>
    {% endif %}
    <br>
    {% if prev_article %}
    <div class="read_on_link">
        <a href="{{ prev_article.get_absolute_url }}" class="btn btn-primary read_on_btn" role="button"><span class="icon-chevron-left"></span> PREV</a>
        <div class="read_on_title">{{ prev_article.title }}</div>
    </div>
    {% endif %}

    <hr>
    <br>
</section>


<section name="comments_section" id="comments_section">
    <p class='lead' >Comments</p>
    {% if request.user.is_authenticated %}
    <form method="POST" accept=".">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <input type="submit" value="Post comment" class="btn btn-secondary">
    </form>
    {% else %}
    <p><a href="{% url 'login' %}?next={{ article.get_absolute_url }}#comments_section">Log in</a> to comment.</p>
    {% endif %}
    <hr>
    {% for comment in comments %}
        <blockquote>
        <div class="comment-content">
            <small>{{ comment.author }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count}} response{{ comment.children.count|pluralize }} | {% endif %}</small>
            <a class="comment-reply-btn" href="#">Reply</a><br>
            {{ comment.content }}
            <hr>
        </div>
        <div class="comment-reply">
            {% for child_comment in comment.children %}
            <blockquote>
                <small>{{ child_comment.author }} - {{ child_comment.timestamp|timesince }} ago: </small><br>
                {{ child_comment.content }}
            </blockquote>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <form method="POST" accept=".">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <input type="submit" value="reply" class="btn btn-secondary">
            </form>
            {% else %}
            <p><a href="{% url 'login' %}?next={{ article.get_absolute_url }}">Log in</a> to comment.</p>
            {% endif %}
        </div>
        </blockquote>
    {% endfor %}
</section>


    </div>
    <div id= "ads-right" class="col-md-3 col-lg-4 col-xl-2"></div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.35/Tone.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>



<script type="text/javascript">

    // used to select initial value of transpose button
    function selectElement(id, valueToSelect) {
    let element = document.getElementById(id);
    element.value = valueToSelect;
    }


    const lick_placeholders_string = "{{ article.lick_placeholders_string }}"
    const chords_dir = "{% static 'img/chords/' %}";
    const tortoise_on_url = "{% static 'img/tortoise_hover.webp' %}";
    const tortoise_off_url = "{% static 'img/tortoise_toggled.webp' %}";

    $(document).on('click', '.comment-reply-btn', function() {
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
    });


    var content = document.getElementById("content")
    var paragraphs = content.querySelectorAll("p");


    // replace images

    function create_img_element(url) {
        src = document.createElement("source");
        src.setAttribute("type", "image/webp");
        src.setAttribute("srcset", url + ".webp");

        img = document.createElement("img");
        img.setAttribute("src", url + ".png");
        img.setAttribute("class", "img-fluid");

        pctr = document.createElement("picture");
        pctr.setAttribute("class", "blog-img");
        pctr.appendChild(src);
        pctr.appendChild(img);

        return pctr
    }


    img_regex = /image\[(.+)\]/

    for (let i = 0; i < paragraphs.length; i++) {
        if (img_regex.test(paragraphs[i].innerHTML)){
            img_url = paragraphs[i].innerHTML.match(img_regex)[1]
            console.log(i)
            console.log(img_url)
            paragraphs[i].replaceWith(create_img_element(img_url))
        }
    }


    // replace paragraphs with lick placeholder with lick panels

    var lick_placeholders = lick_placeholders_string.split(';')
    var lick_elements = document.getElementsByClassName("lick-section")

    for (let lck = 0; lck < lick_elements.length; lck++) {
        for (let i = 0; i < paragraphs.length; i++) {
            if (paragraphs[i].innerHTML == lick_placeholders[lck]){
                //console.log(i)
                //console.log(lck)
                paragraphs[i].replaceWith(lick_elements[lck])
            }
        }
    }

    // replace paragraphs with lick placeholder with lick panels



    function insertFrame(parent, youtube_id) {
        let video_url = "https://www.youtube-nocookie.com/embed/" + youtube_id
        let ifrm = document.createElement("iframe");
        ifrm.setAttribute("class", "video");
        ifrm.setAttribute("src", video_url);
        ifrm.setAttribute("frameborder", "0");
        ifrm.setAttribute("allow", "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture");
        ifrm.setAttribute('allowFullScreen', '');
        parent.appendChild(ifrm);
    }


// find paragraphs with youtube links
        var youtube_regex = /watch\?v=([A-Za-z0-9]+)$/
        for (let i = 0; i < paragraphs.length; i++) {
            if (youtube_regex.test(paragraphs[i].innerHTML)){
                youtube_id = paragraphs[i].innerHTML.match(youtube_regex)[1]

                console.log(i)
                console.log(youtube_id)

                // replace paragraph with video container
                var video_container = document.createElement("div");
                video_container.setAttribute("class", "video-container");
                paragraphs[i].replaceWith(video_container)

                insertFrame(video_container, youtube_id)

            }
        }











    // var video_placeholders = ["video[frxT2qB1POQ]"]

    // //var video_placeholders = video_placeholders_string.split(';')
    // var video_paragraphs = content.querySelectorAll("p");

    // for (let vid = 0; vid < video_placeholders; vid++) {
    //     for (let i = 0; i < paragraphs.length; i++) {
    //         if (paragraphs[i].innerHTML == video_placeholders[vid]){
    //             console.log(i)
    //             console.log(vid)
    //             //paragraphs[i].replaceWith(lick_elements[lck])
    //         }
    //     }
    // }



</script>


<script type="text/javascript">
    // initial transpose licks
    var initial_transpose = "{{ transpose_string }}".split(',')
</script>
<script src="{% static 'js/lick_snippet.js' %}"></script>


{% endblock content %}
