{% extends "base.html" %}
{% load static %}
{% load static compress %}


{% block head_title %}{{ block.super }} | All articles{% endblock head_title %}

{% block meta_description %}
    <meta property="og:image" content="https://www.lickstack.com/static/img/Logo_lg_light.png" />
    <meta property="og:image:url" content="https://www.lickstack.com/static/img/Logo_lg_light.png" />
    <meta property="og:image:secure_url" content="https://www.lickstack.com/static/img/Logo_lg_light.png" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="2193">
    <meta property="og:image:height" content="1591">
    <meta property="og:url" content="{% url 'blog:article-list' %}"/>
    <meta property="og:title" content="LickStack | All articles" />
    <meta property="og:description" content="Browse a comprehensive list of all articles on the LickStack." />
{% endblock meta_description %}


{% block content %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/paginator.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/article_list.css' %}">
{% endcompress %}


<div class="row margin">
    <div id= "ads-left" class="col-md-0 col-lg-0 col-xl-2"></div>
    <div class="main-content-column col-md-9 col-lg-8 col-xl-8">


<form class="search-article" method="GET" action="">
    <div class="input-group">
        <input class="form-control" type="text" name="q" placeholder="Search articles" value="{{ request.GET.q }}">
        <button class="btn btn-secondary" type="submit">Search <span class="icon icon-search"></span></button>
    </div>

</form>

{% include 'repo/snippets/paginator_snippet.html' with licks=articles %}


{% for article in articles %}
<a href="{{ article.get_absolute_url }}" class="blog-panel feat-blog-panel">
    <h2 class="feat-blog-panel-title">{{ article.title }}</h2>
    <small class="blog-author-time-feat">
        <div class="blog-author"><span class="blog-panel-icon icon-user"></span>{{ article.author }}{% if article.draft %}<span style="color:red;"> Draft</span>{% endif %}</div>
        <div><span class="blog-panel-icon icon-calendar"></span>{{ article.date_published }}{% if article.date_published > today %}<span style="color:red;"> Future</span>{% endif %}</div>
    </small>
    <div class="feat-article-image">
    {% if article.image %}
    <img src="{{article.image.url}}" class="feat-article-image">
    {% endif %}
    </div>
    <hr>
    <p>{{ article.description }}</p>
</a>
{% endfor%}






<!--

{% for article in articles %}
<section class="blog-panel">
    <article>
        <header class="article-header">
            <div class="article-metadata">
                <h2 class="blog-panel-title">{{ article.title }}</h2>
                <p><small>{{ article.author }} |
                {% if article.draft %}<span style="color:red;">Draft</span>{% endif %}
                {{ article.date_published }}
                {% if article.date_published > today %}<span style="color:red;"> Future</span>{% endif %}</small></p>
            </div>
            <div class="article-image">
                {% if article.image %}
                <img src="{{article.image.url}}" class='img-responsive'>
                {% endif %}
            </div>
        </header>
        <hr>
        <p>{{ article.description }}</p>
        <p><a href="{{ article.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
    </article>
</section>
{% endfor%}
-->


{% include 'repo/snippets/paginator_snippet.html' with licks=articles %}

    </div>
    <div id= "ads-right" class="col-md-3 col-lg-4 col-xl-2"></div>
</div>



{% endblock content %}
