{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra %}
{{ form.media }}

{% endblock head_extra %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_form.css' %}">


<h2>create a new article</h2>


<section class="panel">
    <h5>Help</h5>
    <p>To insert image, go to new line and insert image[/static/img/blog_img/yourimage] (don't include .png, will be added automatically)</p>
    <p>To insert lick, go to new line and insert lick[13,6] for lick number 13, transposed +6.</p>
    <p>To insert youtube video go to new line and paste url of youtube video</p>
    <p>Thumb image 180x180, max 300kb.</p>
    <p>https://tinypng.com/</p>
    <p>https://resizeimage.net/</p>
    <p>https://image.online-convert.com/convert-to-webp</p>

</section>


<form class="article-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Create Article">
</form>



<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
<script type="text/javascript">

    var titleInput = $("#id_title")
    $("#preview-title").text(titleInput.val())

    function setTitle(value) {
        $("#preview-title").text(value)
    }

    setTitle(titleInput.val())

    titleInput.keyup(function(){
        var newTitle = $(this).val()
        setTitle(newTitle)

    })

    var contentInput = $("#wmd-input-id_body")

    function setContent(value){
        var markedContent = marked(value)
        $("#preview-content").html(markedContent)
    }

    setContent(contentInput.val())

    const regex_global = /lick\[(\d+),\b([0-9]|1[0-2])\b\]/g;
    const regex_capture = /(\d+),\b([0-9]|1[0-2])\b/;

    contentInput.keyup(function(){
        var newContent = $(this).val()
        setContent(newContent)

        var licks_in_content = []
        found_licks = newContent.match(regex_global);

        // find licks
        if (found_licks != null && found_licks != licks_in_content){
            licks_in_content = found_licks
            var lick_list = []
            var transpose_list = []
            for (let i = 0; i < licks_in_content.length; i++) {
                found_lick = licks_in_content[i].match(regex_capture);
                lick_list.push(found_lick[1])
                transpose_list.push(found_lick[2])
             }
             lick_string = lick_list.join(',')
             transpose_string = transpose_list.join(',')

             // copy into hidden form fields
             lick_string_field = document.getElementById("id_lick_string")
             lick_string_field.value = lick_string
             transpose_string_field = document.getElementById("id_transpose_string")
             transpose_string_field.value = transpose_string
             lick_placeholders_string_field = document.getElementById("id_lick_placeholders_string")
             lick_placeholders_string_field.value = found_licks.join(';')


        }

    })



// add licks




</script>


{% endblock content %}
