{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_form.css' %}">

<section class="panel">

<h2>create a new article</h2>
<form class="article-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.title|as_crispy_field }}
    {{ form.image|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    {{ form.body|as_crispy_field }}
    {{ form.draft|as_crispy_field }}
    {{ form.date_published|as_crispy_field }}



    <input type="submit" value="Create">
</form>
</section>

{% endblock content %}
