{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load repo_extras %}


{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.6.0/Tone.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    //suppress form submit when pressing Enter
    function noenter() {
        return !(window.event && window.event.keyCode == 13); }


    // used to select initial value of transpose button
    function selectElement(id, valueToSelect) {
    let element = document.getElementById(id);
    element.value = valueToSelect;
    }


    $(document).ready(function(){
       $(".active").removeClass("active");
       $("#link-browselicks").addClass("active");
    });

</script>


<style type="text/css">
.chords-row {
    background-image: url("{% static 'img/staff.png' %}");
}
</style>

{% include 'repo/snippets/browse_licks_style.html' %}
{% include 'repo/snippets/lick_snippet_style.html' %}

<!--data-toggle="collapse"-->
<!--class="collapse"-->

<button class="search-btn col-lg-12 btn-primary btn-lg" data-toggle="collapse" data-target="#search-form">Search Licks  <i class="fas fa-search"></i></button>
<div id="search-form" class="collapse">


<form class="lick-form" method="GET" enctype="multipart/form-data">


<section class="form-section" id="form-section-chords">
    <header class="form-header" id="form-header-chords">
        <h4>Chords</h4>
        <button type="button" class="form-info-button" data-toggle="collapse" data-target="#form-info-chords"><i class="fas fa-info-circle fa-lg"></i></button>
    </header>

    <main class="form-fields">

        <div class="collapse form-info" id="form-info-chords">
            <div class="info" id="chords_info">
                <p>Search by chords (in concert key) <br>
                By default, the search will look for chord <em>sequences</em> anywhere in the 4 measures. Empty beats between chords are ignored.<br>
                e.g. |Dm7 – G7 – | will also match |Dm7 - - - | G7 - - - | or |C7 - - - |Dm7 G7 – - | <br><br>
                <strong>Include transposed:</strong> Also match chord sequences that can be transposed into what you are searching for. Licks will be transposed automatically.<br>
                e.g. |Dm7 - G7 - | will also match |Cm7 - F7 - | or |Dbm7 - Gb7 - |<br><br>
                <strong>Ignore extensions:</strong> Extensions like 6, 7, maj7 are ignored.<br>
                e.g. |Dm7 - G7 - | will also match |Dm6 - Gmaj7 - | or |Dm - Gb - |<br><br>
                <strong>Exact search:</strong> Empty beats between chords are no longer ignored.<br>
                e.g. |Dm7 - G7 - | will still match |C7 - - - |Dm7 - G7 – | but not |C7 - - - |Dm7 G7 – – |<br><br>
                Entering nothing (all dashes) will return any chords.
                </p>
            </div>
        </div>

    <!-- hidden field -->
    <div id="chord_seq_field">
            {{ form.chord_seq|as_crispy_field }}
    </div>


    <div id="time-signature">
        <div class="form-check">
            <input type="radio" class="form-check-input" checked="checked" name="ts" id="id_time_signature_1" value="44">
            <label for="id_time_signature_1" class="form-check-label">4/4</label>
        </div>
         <div class="form-check">
            <input type="radio" class="form-check-input" name="ts" id="id_time_signature_2" value="34">
            <label for="id_time_signature_2" class="form-check-label">3/4</label>
        </div>
        <button class="reset-chords-btn btn btn-secondary" id="reset_chords" type="button"><i class="fas fa-recycle fa-lg"></i></button>
    </div>


    <div id="form-chords-input" class="form-chords-input col-12">
    <div class="row form-chords-row">
            <div class="separator-lr"></div>
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            <div class="separator-mid"></div>
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            <div class="separator-lr"></div>
    </div>
    <div class="row form-chords-row">
            <div class="separator-lr"></div>
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            <div class="separator-mid"></div>
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            {% include 'repo/snippets/chord_select_snippet.html' %}
            <div class="separator-lr"></div>
    </div>
    </div>


    <div class="checkboxes">
        <input type="checkbox" id="include_transposed" name="include_transposed" value="True">
        <label for="include_transposed"> Include transposed</label><br>
        <input type="checkbox" id="ignore_extensions" name="ignore_extensions" value="True">
        <label for="ignore_extensions">Ignore extensions</label><br>
        <input type="checkbox" id="exact_search" name="exact_search" value="True">
        <label for="exact_search">Exact search</label><br>
    </div>

    </main>

</section>




<section class="form-section" id="form-section-data">
    <header class="form-header" id="form-header-data">
        <h4>Data</h4>
        <button type="button" class="form-info-button" data-toggle="collapse" data-target="#form-info-data"><i class="fas fa-info-circle fa-lg"></i></button>
    </header>

    <main class="form-fields">

        <div class="collapse form-info" id="form-info-data">
            <div class="info" id="data_info">
                <p>Search by metadata <br><br>

                <strong> Author: </strong> Enter the name or part of a name of an author. Case - insensitive. <br><br>

                <strong> Lick #: </strong> Enter the lick ID number, e.g. 25 or 154. <br><br>

                <strong> Time Sign: </strong>search for 4/4 or 3/4 only. (note: selecting 4/4 or 3/4 in the chords section above only affects the chord input field and has no effect on this) <br>
                </p>
            </div>
        </div>

        <div id="lick-data" class="form-row">
            <div class="form-group col-md-6">
                <label for="category"><h5>Author</h5></label>
                <input id="username_contains" class="form-control py-2 border-right-0 border" type="search" name="username_contains" placeholder="username contains..." value="{{ username_contains_query }}">
            </div>
            <div class="form-group col-md-6">
                <label for="category"><h5>Lick #</h5></label>
                <input id="lick_id" class="form-control py-2 border-right-0 border" type="search" name="lick_id" placeholder="lick ID..." value="{{ lick_id_query }}">
            </div>
            <div class="form-group col-md-6">
                <label for="category"><h5>Time sign</h5></label>
                <select id="time_signature" class="form-control" name="time_signature">
                    <option value="" selected>Any</option>
                    <option value="44">4/4</option>
                    <option value="34">3/4</option>
                </select>
            </div>
        </div>

    </main>

</section>



<section class="form-section" id="form-section-instruments">
    <header class="form-header" id="form-header-instruments">
        <h4>Instruments</h4>
        <button type="button" class="form-info-button" data-toggle="collapse" data-target="#form-info-instruments"><i class="fas fa-info-circle fa-lg"></i></button>
    </header>

    <main class="form-fields">

        <div class="collapse form-info" id="form-info-instruments">
            <div class="info" id="instruments_info">
                <p>Search by instruments.<br> Leave empty for any instruments <br></p>
            </div>
        </div>

        <!-- hidden field -->
        <div class="form-group col-md-4" id="instr_choices" style="display:none;">>
                {% for ins in instrument %}
                    {{ ins }},
                {% endfor %}
        </div>
        <!-- hidden field -->
        <input type="text" id="instr_seq" name="instr_seq" value="" class="textinput textInput form-control" style="display:none;">


        <div id="instr-section" class="tag-section">
            <div id="instr-container" class="tag-container">
                <input id="instr-container-input" onkeypress="return noenter()" placeholder="Select or type + Enter"/>
            </div>
        <hr>
             <div id="#suggested-instr-container" class="suggested-tag-container">

            </div>
        </div>

    </main>
</section>



<section class="form-section" id="form-section-keywords">
    <header class="form-header" id="form-header-keywords">
        <h4>Keywords</h4>
        <button type="button" class="form-info-button" data-toggle="collapse" data-target="#form-info-keywords"><i class="fas fa-info-circle fa-lg"></i></button>
    </header>

    <main class="form-fields">

        <div class="collapse form-info" id="form-info-keywords">
            <div class="info" id="keywords_info">
                <p>Search by keywords.<br>
                    Leave empty for any keywords <br><br>
                    <strong>Must contain all keywords:</strong>
                    Will match only licks that contain all keywords listed.
                </p>
            </div>
        </div>

        <div class="checkboxes">
            <input type="checkbox" id="must_contain" name="must_contain" value="True">
            <label for="must_contain">Must contain all keywords</label><br>
        </div>

        <!-- hidden field -->
        {{ form.tags|as_crispy_field }}
        <!--
        <input type="text" name="tags" class="tagwidget form-control" required="" id="id_tags">
        -->

        <div id="keyword-section" class="tag-section">
            <div id="keyword-container" class="tag-container">
                <input id="keyword-container-input" onkeypress="return noenter()" placeholder="Select or type + Enter"/>
            </div>
        <hr>
             <div id="#suggested-keyword-container" class="suggested-tag-container">

            </div>
        </div>

    </main>

</section>



    <div class="form-submit">
        <button class="btn btn-primary btn-block btn-lg" type="submit" id="submit" onclick="storeSearchFormValues(form);">Submit</button>
    </div>

</form>


</div>

<div class="paginator">
{% if licks.has_other_pages %}
    {% if licks.has_previous %}
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' 1 %}"><i class="fas fa-angle-double-left fa-lg"></i></a>
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.previous_page_number %}"><i class="fas fa-angle-left fa-lg"></i></a>
    {% endif %}

    {% for num in licks.paginator.page_range %}
      {% if licks.number == num %}
        <a class = "btn btn-primary mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% elif num > licks.number|add:'-4' and num < licks.number|add:'4'%}
        <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if licks.has_next %}
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.next_page_number %}"><i class="fas fa-angle-right fa-lg"></i></a>
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.paginator.num_pages %}"><i class="fas fa-angle-double-right fa-lg"></i></a>
    {% endif %}
{% endif %}
</div>


{% if licks %}

    {% for lick in licks %}

    {% include 'repo/snippets/lick_snippet.html' with lick=lick chord_seq_query=chord_seq_query %}

    {% endfor %}

{% else %}
    <div class="alert alert-primary" role="alert">
       No licks found... Try searching for something else.
    </div>

{% endif %}


{% if licks.has_other_pages %}
<div class="paginator">
    {% if licks.has_previous %}
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' 1 %}"><i class="fas fa-angle-double-left fa-lg"></i></a>
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.previous_page_number %}"><i class="fas fa-angle-left fa-lg"></i></a>
    {% endif %}

    {% for num in licks.paginator.page_range %}
      {% if licks.number == num %}
        <a class = "btn btn-primary mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% elif num > licks.number|add:'-4' and num < licks.number|add:'4'%}
        <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if licks.has_next %}
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.next_page_number %}"><i class="fas fa-angle-right fa-lg"></i></a>
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.paginator.num_pages %}"><i class="fas fa-angle-double-right fa-lg"></i></a>
    {% endif %}
</div>
{% endif %}




{% include 'repo/snippets/lick_snippet_js.html' %}

<script type="text/javascript">

// declare audio context

//// get chords string

// number all chord select and assign ids

const chord_select = document.getElementsByClassName("chord-select");

var counter = 1
for (let chord of chord_select) {
    chord.id = "chord_"+counter.toString()
    counter += 1

}

// hide chord seq field
const chord_seq_field = document.getElementById("chord_seq_field");
chord_seq_field.style.display = "none";

// update chord seq upon change of chords
function updateChordSeq(){
    let chord_seq = "x"
    for (let chord of chord_select) {
        chord_seq = chord_seq + chord.value + "x"
    }
    document.getElementById("id_chord_seq").value = chord_seq
}

document.querySelectorAll('.chord-select').forEach(item => {
    item.addEventListener("change", function(){
        updateChordSeq();
    });
})



//// reset chords button

const reset_chords_btn = document.getElementById("reset_chords")

reset_chords_btn.addEventListener("click", function(){
    for (let chord of chord_select) {
        chord.value = "."
    };
    updateChordSeq();
})




// Time Signature Controls

function changeLayout() {
    if (document.getElementById("id_time_signature_1").checked){
        $("#chord_4").show();
        $("#chord_8").show();
        $("#chord_12").show();
        $("#chord_16").show();
        $(".form-chords-row .chord-select").css("width","11.5%");
    } else if (document.getElementById("id_time_signature_2").checked){
        $("#chord_4").hide();
        $("#chord_8").hide();
        $("#chord_12").hide();
        $("#chord_16").hide();
        $(".form-chords-row .chord-select").css("width","15.33%");
        $("#chord_4, #chord_8, #chord_12, #chord_16").css("width","0px");
        document.getElementById("chord_4").value = ".";
        document.getElementById("chord_8").value = ".";
        document.getElementById("chord_12").value = ".";
        document.getElementById("chord_16").value = ".";
    }
    updateChordSeq();
};


time_sign_input = document.getElementById('time-signature')
time_sign_input.addEventListener("change", function(){
 changeLayout();
});




//// Instrument Choice

const suggested_instruments_original = "{{ instr_selection }}".split(",")
var suggested_instruments = suggested_instruments_original.slice()

const suggestedInstrumentContainer = document.getElementById('#suggested-instr-container');
const instrumentContainer = document.getElementById('instr-container');
const instrumentsInput = document.getElementById('instr-container-input');
const hiddenInstrumentsInput = document.getElementById('instr_seq') // hidden input
hiddenInstrumentsInput.required = false;
hiddenInstrumentsInput.type = "hidden"

var instruments = [];

function createTag(label, close="") {
    const div = document.createElement('div');
    div.setAttribute('class', 'tag');
    const span = document.createElement('span');
    span.innerHTML = label;
    div.appendChild(span);
    if (close){
        const closeBtn = document.createElement('i');
        closeBtn.setAttribute('class', 'fas fa-times-circle');
        closeBtn.setAttribute('data-item', label);
        div.appendChild(closeBtn);
    }
    return div;
}


function updateInstruments(){
    // remove all instruments (reset)
    document.querySelectorAll('#instr-section .tag').forEach(function(tag){
        tag.parentElement.removeChild(tag);
    });

    // update selected instruments
    instruments.slice().reverse().forEach(function(tag){
        instrumentContainer.prepend(createTag(tag, close="Yes"));
    });

    // update suggested instruments
    suggested_instruments.forEach(function(tag){
        suggestedInstrumentContainer.appendChild(createTag(tag, close=""));
    });
    // update hidden tag field
    hiddenInstrumentsInput.value = instruments.join(",")
}

updateInstruments()


// input instruments
function sanitizeKey(key){
    key = key.replace(/^#+/g, '');
    key = key.replace(/^\s+/g, '');
    key = key.replace(/\s+$/g, '');
    key = key.replace(/\s+/g, '_');
    key = key.toLowerCase();
    return key;
}



function addInstrument(instrument){
    instrument = sanitizeKey(instrument);
    if (instruments.indexOf(instrument) < 0) {
        instruments.push(instrument);
        let st_index = suggested_instruments.indexOf(instrument)
        if (st_index >= 0){
                suggested_instruments.splice(st_index,1);
        }
    }
    updateInstruments();
    instrumentsInput.value = '';
}


instrumentsInput.addEventListener('keyup', function(e){
    let instrument = instrumentsInput.value
    if (e.key == 'Enter' && instrument != ""){
        addInstrument(instrument)
    }
});


// delete tag from input list
instrumentContainer.addEventListener('click', function(e){
    if (e.target.tagName == 'svg'){
        let instrument = e.target.getAttribute('data-item');
        if (suggested_instruments_original.indexOf(instrument) >= 0 && suggested_instruments.indexOf(instrument) < 0){
            suggested_instruments.push(instrument);
        }
        let t_index = instruments.indexOf(instrument);
        instruments.splice(t_index,1);
        updateInstruments();
    }
});

// select tag from suggested list
suggestedInstrumentContainer.addEventListener('click', function(e){
    if (e.target.tagName == 'SPAN'){
        let instrument = e.target.innerHTML;
        instruments.push(instrument);
        let st_index = suggested_instruments.indexOf(instrument);
        suggested_instruments.splice(st_index,1);
        updateInstruments();
    }
});








//// Keyword chice

const suggested_keywords_original = ["jazz", "ballad", "swing", "bebop", "waltz", "latin", "bossa", "salsa", "montuno", "funk", "country", "rock", "metal", "scales", "blues", "gospel", "spiritual", "turnaround", "even_eights", "shuffle"];
var suggested_keywords = suggested_keywords_original.slice()

const suggestedKeywordContainer = document.getElementById('#suggested-keyword-container');
const keywordContainer = document.getElementById('keyword-container');
const keywordsInput = document.getElementById('keyword-container-input');
const hiddenKeywordsInput = document.getElementById('id_tags') // hidden input
hiddenKeywordsInput.required = false;
hiddenKeywordsInput.type = "hidden"

var keywords = [];



function updateKeywords(){
    // remove all keywords (reset)
    document.querySelectorAll('#keyword-section .tag').forEach(function(tag){
        tag.parentElement.removeChild(tag);
    });

    // update selected keywords
    keywords.slice().reverse().forEach(function(tag){
        keywordContainer.prepend(createTag(tag, close="Yes"));
    });

    // update suggested keywords
    suggested_keywords.forEach(function(tag){
        suggestedKeywordContainer.appendChild(createTag(tag, close=""));
    });
    // update hidden tag field
    hiddenKeywordsInput.value = keywords.join(",")
}

updateKeywords()


// input keywords



function addKeyword(keyword){
    keyword = sanitizeKey(keyword);
    if (keywords.indexOf(keyword) < 0) {
        keywords.push(keyword);
        let st_index = suggested_keywords.indexOf(keyword)
        if (st_index >= 0){
                suggested_keywords.splice(st_index,1);
        }
    }
    updateKeywords();
    keywordsInput.value = '';
}



keywordsInput.addEventListener('keyup', function(e){
    let keyword = keywordsInput.value
    if (e.key == 'Enter' && keyword != ""){
        addKeyword(keyword);
    }
});


// delete tag from input list
keywordContainer.addEventListener('click', function(e){
    if (e.target.tagName == 'svg'){
        let keyword = e.target.getAttribute('data-item');
        if (suggested_keywords_original.indexOf(keyword) >= 0 && suggested_keywords.indexOf(keyword) < 0){
            suggested_keywords.push(keyword);
        }
        let t_index = keywords.indexOf(keyword);
        keywords.splice(t_index,1);
        updateKeywords();
    }
});

// select tag from suggested list
suggestedKeywordContainer.addEventListener('click', function(e){
    if (e.target.tagName == 'SPAN'){
        let keyword = e.target.innerHTML;
        keywords.push(keyword);
        let st_index = suggested_keywords.indexOf(keyword);
        suggested_keywords.splice(st_index,1);
        updateKeywords();
    }
});






//// store form data in cookies



var today = new Date();
var expiry = new Date(today.getTime() + 1 * 24 * 60 * 60 * 1000); // plus 1 day

function setCookie(name, value){
    document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
}

function getCookie(name){
    var re = new RegExp(name + "=([^;]+)");
    var value = re.exec(document.cookie);
    return (value != null) ? unescape(value[1]) : null;
}

const form = document.forms[0]

// store form values in cookies

function storeSearchFormValues(form){
    // remember chords
    for (let i = 0; i < 16; i++){
        let chord = 'chord_'+(i+1).toString()
        setCookie('s_'+chord, form.elements[chord].value);
    }

    if (form.elements['id_time_signature_2'].checked){
        setCookie("s_ts", "34");
    } else {
        setCookie("s_ts", "44");
    }

    if (form.elements['include_transposed'].checked) {
        setCookie("s_include_transposed", "checked");
    } else {
        setCookie("s_include_transposed", "unchecked");
    }

    if (form.elements['ignore_extensions'].checked) {
        setCookie("s_ignore_extensions", "checked");
    } else {
        setCookie("s_ignore_extensions", "unchecked");
    }

    if (form.elements['exact_search'].checked) {
        setCookie("s_exact_search", "checked");
    } else {
        setCookie("s_exact_search", "unchecked");
    }

    if (form.elements['must_contain'].checked) {
        setCookie("s_must_contain", "checked");
    } else {
        setCookie("s_must_contain", "unchecked");
    }

    setCookie("s_username_contains", form.elements['username_contains'].value)
    setCookie("s_lick_id", form.elements['lick_id'].value)

    setCookie("s_time_signature", form.elements['time_signature'].value)


    // remember tags
    setCookie("s_instruments", instruments);
    setCookie("s_keywords", keywords);

}


function getSearchFormValues(){
    for (let i = 0; i < 16; i++){
        let chord = 'chord_'+(i+1).toString()
        if (getCookie('s_'+chord) == null){
            form.elements[chord].value = '.';
        } else {
            form.elements[chord].value = getCookie('s_'+chord);
        }
    }

    if (getCookie("s_ts") == '34'){
        form.elements['id_time_signature_2'].checked = true;
    } else {
        form.elements['id_time_signature_1'].checked = true;
    }
    changeLayout()


    if (getCookie("s_include_transposed") == 'checked') {
        form.elements['include_transposed'].checked = true;
    } else {
        form.elements['include_transposed'].checked = false;
    }

    if (getCookie("s_ignore_extensions") == 'checked') {
        form.elements['ignore_extensions'].checked = true;
    } else {
        form.elements['ignore_extensions'].checked = false;
    }

    if (getCookie("s_exact_search") == 'checked') {
        form.elements['exact_search'].checked = true;
    } else {
        form.elements['exact_search'].checked = false;
    }

    if (getCookie("s_must_contain") == 'checked') {
        form.elements['must_contain'].checked = true;
    } else {
        form.elements['must_contain'].checked = false;
    }

    form.elements['username_contains'].value = getCookie("s_username_contains");
    form.elements['lick_id'].value = getCookie("s_lick_id");


    if (getCookie("s_time_signature") == null){
        form.elements['time_signature'].value = '';
    } else {
        form.elements['time_signature'].value = getCookie("s_time_signature");
    }


    if (getCookie("s_instruments") != null){
        getCookie("s_instruments").split(',').forEach(instrument => addInstrument(instrument));
    }

    if (getCookie("s_keywords") != null){
        getCookie("s_keywords").split(',').forEach(keyword => addKeyword(keyword));
    }



}


getSearchFormValues()




</script>

{% endblock content %}
