{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load repo_extras %}


{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.35/Tone.js"></script>

{% include 'repo/snippets/lick_snippet_style.html' %}

<button class="search-btn col-lg-12" data-toggle="collapse" data-target="#search">Search <i class="fas fa-search"></i></button>
<div id="search" class="collapse">

<form method="GET" action=".">

    <div class="form-row">
        <div class="row chords-row">
                <div class="separator-lr"></div>
                {{ form.m1_b1|as_crispy_field }}
                {{ form.m1_b2|as_crispy_field }}
                {{ form.m1_b3|as_crispy_field }}
                {{ form.m1_b4|as_crispy_field }}
                <div class="separator-mid"></div>
                {{ form.m2_b1|as_crispy_field }}
                {{ form.m2_b2|as_crispy_field }}
                {{ form.m2_b3|as_crispy_field }}
                {{ form.m2_b4|as_crispy_field }}
                <div class="separator-lr"></div>
        </div>
        <div class="row chords-row">
                <div class="separator-lr"></div>
                {{ form.m3_b1|as_crispy_field }}
                {{ form.m3_b2|as_crispy_field }}
                {{ form.m3_b3|as_crispy_field }}
                {{ form.m3_b4|as_crispy_field }}
                <div class="separator-mid"></div>
                {{ form.m4_b1|as_crispy_field }}
                {{ form.m4_b2|as_crispy_field }}
                {{ form.m4_b3|as_crispy_field }}
                {{ form.m4_b4|as_crispy_field }}
                <div class="separator-lr"></div>
        </div>
    </div>

    <div class="time-signature row">
        <div class="form-group col-md-4">
            <input type="checkbox" id="include_transposed" name="include_transposed" value="True">
            <label for="vehicle1"> Include transposed</label><br>
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" id="ignore_extensions" name="ignore_extensions" value="True">
            <label for="vehicle1">Ignore extensions</label><br>
        </div>
        <div class="form-group col-md-4">
            <input type="checkbox" id="exact_search" name="exact_search" value="True">
            <label for="vehicle1">Exact search</label><br>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="category">Time signature</label>
            <select id="time_signature" class="form-control" name="time_signature">
                <option value="" selected>Any</option>
                <option value="44">4/4</option>
                <option value="34">3/4</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="category">Genre</label>
            <select id="genre" class="form-control" name="genre">
                <option value="" selected>Any</option>
                {% for gen in genres %}
                <option value="{{ gen }}">{{ gen }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="category">Instrument</label>
            <select id="instrument" class="form-control" name="instrument">
                <option value="" selected>Any</option>
                {% for ins in instrument %}
                <option value="{{ ins }}">{{ ins }}</option>
              {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="category">Author</label>
            <input class="form-control py-2 border-right-0 border" type="search" name="username_contains" placeholder="username contains..." value="{{ username_contains_query }}">
        </div>
        <div class="form-group col-md-4">
            <label for="category">lick #</label>
            <input class="form-control py-2 border-right-0 border" type="search" name="lick_id" placeholder="lick ID..." value="{{ lick_id_query }}">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>

</form>


</div>

{% if licks.has_other_pages %}

    {% if licks.has_previous %}
      <a class = "btn btn-outline-info mb-4" href="?{% url_replace request 'page' 1 %}">First</a>
      <a class = "btn btn-outline-info mb-4" href="?{% url_replace request 'page' licks.previous_page_number %}">Prev</a>
    {% endif %}

    {% for num in licks.paginator.page_range %}
      {% if licks.number == num %}
        <a class = "btn btn-info mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% elif num > licks.number|add:'-5' and num < licks.number|add:'5'%}
        <a class = "btn btn-outline-info mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if licks.has_next %}
      <a class = "btn btn-outline-info mb-4" href="?{% url_replace request 'page' licks.next_page_number %}">Next</a>
      <a class = "btn btn-outline-info mb-4" href="?{% url_replace request 'page' licks.paginator.num_pages %}">Last</a>
    {% endif %}

{% endif %}


{% if licks %}

    {% for lick in licks %}

    {% include 'repo/snippets/lick_snippet.html' with lick=lick chord_seq_query=chord_seq_query %}

    {% endfor %}

{% else %}
    <div class="alert alert-primary" role="alert">
       No licks found... Try searching for something else.
    </div>

{% endif %}


{% if licks.has_other_pages %}

    {% if licks.has_previous %}
      <a class = "btn btn-outline-info mb-4" href="?{% url_replace request 'page' 1 %}">First</a>
      <a class = "btn btn-outline-info mb-4" href="?{% url_replace request 'page' licks.previous_page_number %}">Prev</a>
    {% endif %}

    {% for num in licks.paginator.page_range %}
      {% if licks.number == num %}
        <a class = "btn btn-info mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% elif num > licks.number|add:'-5' and num < licks.number|add:'5'%}
        <a class = "btn btn-outline-info mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if licks.has_next %}
      <a class = "btn btn-outline-info mb-4" href="?{% url_replace request 'page' licks.next_page_number %}">Next</a>
      <a class = "btn btn-outline-info mb-4" href="?{% url_replace request 'page' licks.paginator.num_pages %}">Last</a>
    {% endif %}

{% endif %}


{% endblock content %}
