{% extends "base.html" %}
{% load static %}
{% load repo_extras %}
{% load static compress %}

{% block head_title %}{{ block.super }} | Home{% endblock head_title %}

{% block meta_description %}
    <meta property="og:image" content="https://www.lickstack.com/static/img/Logo_lg_light_social.png" />
    <meta property="og:image:url" content="https://www.lickstack.com/static/img/Logo_lg_light_social.png" />
    <meta property="og:image:secure_url" content="https://www.lickstack.com/static/img/Logo_lg_light_social.png" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="2193">
    <meta property="og:image:height" content="1591">
    <meta property="og:url" content="{% url 'home' %}"/>
    <meta property="og:title" content="Lickstack | Home" />
    <meta property="og:description" content="Share your favorite licks, listen, learn and take your solos to the next level." />

{% endblock meta_description %}






{% block content %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lick_snippet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endcompress %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.35/Tone.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">

    // used to select initial value of transpose button
    function selectElement(id, valueToSelect) {
    let element = document.getElementById(id);
    element.value = valueToSelect;
    }

    // active nav link
    $(document).ready(function(){
       $(".active").removeClass("active");
       $("#link-home").addClass("active");
    });

    const instr_transpose_shift = Number("{{ user.profile.instr_transpose_shift }}")

</script>


<div class="row header-row">
<div class="page-col col-md-12 col-lg-6">
<br>
<section class="quote-social">
    <h1><em>"A lick is a stock pattern or phrase consisting of a short series of notes used in solos."</em></h1>
    <div class="social-share">
    <hr>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.lickstack.com"><span class="icon icon-facebook-square footer-icon" style="color: #3b5998"></span></a>
        <a href="https://twitter.com/home?status=Join+the+LickStack+and+take+your+solos+to+the+next+level%20https%3A%2F%2Fwww.lickstack.com"><span class="icon icon-twitter-square footer-icon" style="color: #00acee"></span></a>
        <a href="http://www.reddit.com/submit?url=https%3A%2F%2Fwww.lickstack.com&title=Join+the+LickStack+and+take+your+solos+to+the+next+level"><span class="icon icon-reddit-square footer-icon" style="color: #ff4301"></span></a>
    <hr>
    </div>
</section>
<br>
<br>
<br>

<picture class="title-img">
    <source type="image/webp" srcset="{% static 'img/Logo_lg_light.webp' %}" />
    <img src="{% static 'img/Logo_lg_light.png' %}" class="img-fluid" alt="Logo">
</picture>


</div>


<div class="page-col page-col-right col-md-12 col-lg-6">


    <section class="panel signup-panel">

    <h1>Don't know what to play over those changes?</h1>


    <picture>
      <source type="image/webp" srcset="{% static 'img/chimp_headscratch.webp' %}" />
      <img src="{% static 'img/chimp_headscratch.png' %}" class="img-fluid">
    </picture>

    <br>
    <br>
        <h1>Join the LickStack community!</h1>
        <br>
    <ul class="bullet-points">
    <li> Browse hundreds of licks that match your chord progressions</li>
    <li> Listen and play along in any key</li>
    <li> Share your licks with the community</li>
    </ul>

    </section>

    <a href="{% url 'register' %}" class="btn btn-primary btn-lg center-button" role="button">Sign Up Now</a>




</div>

</div>




<div class="row bottom-row">

<div class="page-col col-md-12 col-lg-6">

{% if user.is_staff %}
    <div class="display-4 welcome text-center">
        <h1 class="display-4">Get Started Here</h1>
        <hr>
    </div>

    {% for article in howto_articles|slice:":3" %}
    <a href="{{ article.get_absolute_url }}" class="blog-panel blog-panel-sm">
            <header class="article-header">
                <div class="article-image">
                    {% if article.image %}
                    <img src="{{article.image.url}}" class='img-responsive'>
                    {% endif %}
                </div>
                <div class="article-metadata">
                    <h2 class="blog-panel-title"><b>{{ article.title }}</b></h2>
                    <small class="blog-author-time">
                        <div class="blog-author"><span class="blog-panel-icon icon-user"></span>{{ article.author }}</div>
                        <div class="blog-time"><span class="blog-panel-icon icon-calendar"></span>{{ article.date_published }}</div>
                    </small>
               </div>
            </header>
    </a>
    {% endfor%}
{% else %}

    <div class="display-4 welcome text-center">
        <h1 class="display-4">Get Started Here</h1>
        <hr>
    </div>

    <p class="display-4" style="text-align: center; font-size: 24px; ">[coming soon]</p>

{% endif %}



{% if user.is_staff %}
    <div class="display-4 welcome text-center">
        <h1 class="display-4">Featured Articles</h1>
        <hr>
    </div>


    {% for article in latest_articles|slice:":1" %}
    <a href="{{ article.get_absolute_url }}" class="blog-panel feat-blog-panel">
        <h2 class="feat-blog-panel-title">{{ article.title }}</h2>
        <small class="blog-author-time-feat">
            <div class="blog-author"><span class="blog-panel-icon icon-user"></span>{{ article.author }}</div>
            <div><span class="blog-panel-icon icon-calendar"></span>{{ article.date_published }}</div>
            <div class="new-sign"> (NEW) </div>
        </small>
        <div class="feat-article-image">
        {% if article.image %}
        <img src="{{article.image.url}}" class="feat-article-image">
        {% endif %}
        </div>
        <hr>
        <p>{{ article.description }}</p>
    </a>
    {% endfor%}



    {% for article in latest_articles|slice:"1:3" %}
    <a href="{{ article.get_absolute_url }}" class="blog-panel blog-panel-sm">
            <header class="article-header">
                <div class="article-image">
                    {% if article.image %}
                    <img src="{{article.image.url}}" class='img-responsive'>
                    {% endif %}
                </div>
                <div class="article-metadata">
                    <h2 class="blog-panel-title"><b>{{ article.title }}</b></h2>
                    <small class="blog-author-time">
                        <div class="blog-author"><span class="blog-panel-icon icon-user"></span>{{ article.author }}</div>
                        <div class="blog-time"><span class="blog-panel-icon icon-calendar"></span>{{ article.date_published }}</div>
                    </small>
               </div>
            </header>
    </a>
    {% endfor%}

    <a href="{% url 'blog:article-list' %}" class="btn btn-primary btn-lg center-button" role="button">More Articles</a>
{% endif %}
</div>



<div class="page-col page-col-right col-md-12 col-lg-6">

    <div class="display-4 welcome text-center">
        <h1 class="display-4">Latest Licks</h1>
        <hr>
    </div>

    {% if licks %}

        {% for lick in licks %}

        {% include 'repo/snippets/lick_snippet.html' with lick=lick chord_seq_query=chord_seq_query %}

        {% endfor %}

    {% else %}
        <div class="alert alert-primary" role="alert">
           No licks found... Try searching for something else.
        </div>

    {% endif %}

    <a href="{% url 'browse-licks' %}" class="btn btn-primary btn-lg center-button" role="button">More Licks</a>

</div>

</div>


<script type="text/javascript">
const chords_dir = "{% static 'img/chords/' %}";
const tortoise_on_url = "{% static 'img/tortoise_hover.webp' %}";
const tortoise_off_url = "{% static 'img/tortoise_toggled.webp' %}";
</script>

{% compress js %}
<script src="{% static 'js/lick_snippet.js' %}"></script>
{% endcompress %}

{% endblock content %}
