{% extends "base.html" %}
{% load static %}
{% load repo_extras %}
{% load static compress %}

{% block content %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lick_snippet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endcompress %}

<style type="text/css">
.chords-row {
    background-image: url("{% static 'img/staff.webp' %}"),url("{% static 'img/staff.png' %}");
}
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.35/Tone.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    // used to select initial value of transpose button
    function selectElement(id, valueToSelect) {
    let element = document.getElementById(id);
    element.value = valueToSelect;
    }

    // active nav link
    $(document).ready(function(){
       $(".active").removeClass("active");
       $("#link-home").addClass("active");
    });
</script>

<section class="panel">

<div class="display-4 welcome text-center">
    <h2 class="display-4">Welcome to the LickStack!</h2>
    <hr>
</div>

<div class="text-center">

<h5><em>"A lick is a stock pattern or phrase consisting of a short series of notes used in solos."</em>
- <a href="https://en.wikipedia.org/wiki/Lick_(music)">Wikipedia</a></h5><br>

    <h2>Don't know what to play over those changes?</h2>
</div>

<picture>
  <source type="image/webp" srcset="{% static 'img/chimp_headscratch.webp' %}" />
  <img src="{% static 'img/chimp_headscratch.png' %}" class="img-fluid">
</picture>

<br>
<br>
<div class="text-center">
    <h2>Join the LickStack community!</h2>
    <br>
</div>

<h5><ul>
<li> Browse hundreds of examples, listen and play along</li>
<li> Share your licks with the community</li>
<li> Build a repertoire of your favorite licks and ace your next solo</li>
</ul></h5>
<br>

<div class="center-wrapper">
   <a href="{% url 'register' %}" class="btn btn-primary btn-lg" role="button">Sign Up Now</a>
</div>

</section>



<section class="panel">

<div class="text-center">
    <h2>A note from the creator</h2>
    <hr>
</div>
    <br>
    <em>"What on earth do I play over those changes?"</em><br>
    <em>"Why do I keep playing the same boring old stuff?"</em><br>
    <em>"Why can't I remember that awesome solo I came up with last week?"</em><br><br>
    If you play jazz, blues, country, rock, pop or any other form of music that uses lead sheets, you may have asked yourself the same questions.<br><br>
    The idea behind the LickStack is to create a repository for short audio snippets of music to serve as a source of examples and inspiration for beginners and experts alike.<br><br>

    Join in, have fun and happy soloing!<br>

    - <i>Michael (supreme_lickster)<i><br>

    <hr>
    <small><b>This website is currently under development:</b><br>
    I am neither a professional musician nor a professional web developer, but I am passionate about both and my goal is to make the LickStack as user friendly as possible.
    If you encounter any catastrophic errors or if you have any suggestions please contact me under info@lickstack.com.</small>
</p>

</section>


<section class="panel text-center">

<div class="display-4 welcome text-center">
    <h1 class="display-4">Here's how it works</h2>
    <hr>
</div>


    <br>
    <h2>1. Find a chord sequence</h2>
    <hr>
    <p>This may be a passage in your lead sheet you are curious about. By design, licks on the LickStack are short patterns up to 4 measures long.</p>

    <picture>
      <source type="image/webp" srcset="{% static 'img/chordseq.webp' %}" />
      <img src="{% static 'img/chordseq.png' %}" class="img-fluid" alt="Image of lead sheet showing Gm7 - C7 - F7 progression">
    </picture>

    <br>
    <br>
    <h2>2. Search the LickStack </h2>
    <hr>
    <p> Find any licks that match your chord sequence using a simple search form.
    You can also specify your favorite instrument and keyword tags to find the exact genre and style you are looking for.</p>

    <div class="center-wrapper">
        <a href="{% url 'browse-licks' %}" class="btn btn-primary btn-lg" role="button">Browse Licks</a>
    </div>

    <br>
    <br>
    <h2>3. Record and share your own licks! </h2>
    <hr>
    <p>Your licks will be displayed in an interactive panel. Play the recording as many times as you want, in any key!
    The examples below match the above changes:</p>

</section>


{% if licks %}

    {% for lick in licks %}

    {% include 'repo/snippets/lick_snippet.html' with lick=lick chord_seq_query=chord_seq_query %}

    {% endfor %}

{% else %}
    <div class="alert alert-primary" role="alert">
       No licks found... Try searching for something else.
    </div>

{% endif %}



<section class="panel">
    <br>
    <table style="width:100%" id="dummy_table">
    <col width="80px">
  <tr>
    <td>
    <button class="slowdown btn-default dummy" id="slowdown_dummy">
        <picture>
          <source type="image/webp" srcset="{% static 'img/tortoise_toggled.webp' %}" />
          <input class="slowdown-btn" type="image" id="slowdown_dummy_input"value="1" src="{% static 'img/tortoise_toggled.png' %}" alt="slowdown">
        </picture>
    </button>
    </td>
    <td>
        <p>Play lick at half tempo. Makes learning easier.</p>
    </td>
  </tr>
  <tr>
    <td>
    <select class="panel-btn transpose-btn dummy" id="transpose_dummy" name="transpose">
        <option value="12">+12</option>
        <option value="11">+11</option>
        <option value="10">+10</option>
        <option value="9">+9</option>
        <option value="8">+8</option>
        <option value="7">+7</option>
        <option value="6">+6</option>
        <option value="5">+5</option>
        <option value="4">+4</option>
        <option value="3">+3</option>
        <option value="2">+2</option>
        <option value="1">+1</option>
        <option value="0" selected="selected">T</option>
    </select>
    </td>
    <td>
        <p>Transpose original recording (in half steps). Master your licks in every key! </p>
    </td>
  </tr>
  <tr>
    <td>
    <button class="panel-btn like-btn dummy" type="submit" id="like_dummy" name="lick_id">
        <span class="icon icon-thumbs-o-up"></span>
    </button>
    </td>
    <td>
       <p>Like lick. If you like what you hear, make sure you give the author credit!</p>
    </td>
  </tr>
  <tr>
    <td>
    <button class="panel-btn fav-btn dummy" type="submit" id="fav_dummy" name="lick_id">
        <span class="icon icon-star-o"></span>
    </button>
    </td>
    <td>
        <p>Mark as favorite. Favorite licks will be listed under My Licks > Favorites, so that you can easily find them again.</p>
    </td>
  </tr>
  <tr>
    <td>
    <div class="panel-btn edit-btn dummy" id="edit_dummy" type="button">
        <span class="icon icon-edit"></span>
    </div>
    </td>
    <td>
        <p>Edit any licks you created. </p>
    </td>
  </tr>

</table>


</section>





<section class="panel">

<div class="display-4 welcome text-center">
    <h1 class="display-4">Like the idea? Here's how you can help:</h2>
    <hr>
</div>

    <br>
    <div class="text-center">
        <h2>Join the LickStack community</h2>
        <hr>
        <p>Share your licks and grow our collection! We are an equal opportunity platform and do not discriminate based upon genre, instrument, style or popularity.</p>
        <a href="{% url 'register' %}" class="btn btn-primary btn-lg" role="button">Sign Up Now</a>
    </div>

    <br>
    <br>

    <div class="text-center">
        <h2>Spread the word</h2>
        <hr>
        <p>Tell your friends and neighbors about the LickStack and share this page on social media.</p>

        <div class="center-wrapper">
            <div class="fb-share-button" data-href="https://www.lickstack.com" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.lickstack.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <div class="twitter-share-button"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Check out the LickStack!" data-url="https://www.lickstack.com" data-hashtags="LickStack" data-lang="en" data-show-count="false">Tweet</a></div>
        </div>

    </div>

    <br>
    <br>

    <div class="text-center">
        <h2>Tip Bucket</h2>
        <hr>
        <p>If you gain value from the LickStack, please consider contributing. Any donations will go towards server costs and improving your experience.</p>

        <a style="cursor: pointer;" onclick="document.forms['paypal_form'].submit()">
            <picture>
              <source type="image/webp" srcset="{% static 'img/tip_bucket.webp' %}" />
              <img border="0" alt="Tip Bucket. Donate to the LickStack" src="{% static 'img/tip_bucket.png' %}" width="90" height="100">
            </picture>
        </a>
        <br>
        <a href="#" style="margin-top: 5px;" class="btn btn-success btn-lg" role="button" onclick="document.forms['paypal_form'].submit()">Contribute</a>


    </div>

    <br>

</section>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<script type="text/javascript">
const chords_dir = "{% static 'img/chords/' %}";
const tortoise_on_url = "{% static 'img/tortoise_hover.webp' %}";
const tortoise_off_url = "{% static 'img/tortoise_toggled.webp' %}";
</script>

{% compress js %}
<script src="{% static 'js/lick_snippet.js' %}"></script>
{% endcompress %}

{% endblock content %}
