{% extends "base.html" %}
{% load static %}

{% block content %}
<button class="search-btn col-lg-6" data-toggle="collapse" data-target="#search">Search <i class="fas fa-search"></i></button>
<div id="search" class="collapse">
    Search form here
</div>

{% for lick in licks %}
<article class="row lick lick-section col-lg-6">
    <div class="lick-metadata">
        {{ lick.genre }}
        – <a class="mr-2" href="{% url 'user-licks' lick.author.username %}">{{ lick.author }} #{{ lick.counter }}</a>
      <small class="text-muted">{{ lick.date_posted|date:"F d, Y" }}    </small>
      – <a class="mr-2" href="{% url 'lick-detail' lick.id %}">View</a>
    </div>
    <div class="row lick-display">
      <div class="col-2">
        <img src="#" alt="instr">
      </div>
      <div class="col-10">
        <audio controls preload="none">
        <source src="{{ lick.file.url }}" type="audio/mp4" >
        Your browser does not support HTML5 audio. Try Chrome 6+
        </audio>
      </div>
    </div>
    <div class="lick-chords">
        <span class="avoidwrap"> | {{ lick.beat1 }} {{ lick.beat2 }} {{ lick.beat3 }} {{ lick.beat4 }} | </span>
        <span class="avoidwrap"> {{ lick.beat5 }} {{ lick.beat6 }} {{ lick.beat7 }} {{ lick.beat8 }} | </span>
        <span class="avoidwrap"> {{ lick.beat9 }} {{ lick.beat10 }} {{ lick.beat11 }} {{ lick.beat12 }} | </span>
        <span class="avoidwrap"> {{ lick.beat13 }} {{ lick.beat14 }} {{ lick.beat15 }} {{ lick.beat16 }} | </span>
    </div>
</article>
{% endfor %}

{% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
        <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Next</a>
      <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
    {% endif %}

  {% endif %}

{% endblock content %}





