{% extends "base.html" %}


{% block content %}


    {% for lick in licks %}

    <h5 style="color: #00ff00;">Lick {{ lick.id }}</h5>
    <audio controls>
      <source src="{{ lick.file.url }}">
    </audio>


    <button type="button" class="play" name="{{ lick.file.url }}" id="{{ lick.id }}"> Play lick {{ lick.id }}</button>


    {% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.35/Tone.js"></script>

<script type="text/javascript">


const play_btns = document.getElementsByClassName('play')
players = []
lick_urls = []

for (let i = 0; i < play_btns.length; i++) {
    lick_urls
    players.push(new Tone.Player(play_btns[i].name));
    players[i].toDestination();

    play_btns[i].addEventListener('click', function () {
        if (players[i].state == "stopped") {
            players[i].start();
        } else {
            players[i].stop();
        }
    });
}

</script>


{% endblock content %}

