{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<style type="text/css">
    .chords-row {
    height: 50px;
    background-image: url("{% static 'img/staff.png' %}");
    background-size: 100% 100%;
}
</style>


<div class="container-fluid col-12">
    <form class="lick-form" method="POST" enctype="multipart/form-data" onchange="changeLayout()">
        <h2>Upload Lick</h2>
        {% csrf_token %}
        <div class="file-input">
            {{ form.file|as_crispy_field }}
        </div>

        <div class="file-preview" id="filePreview">
            <audio class="file-preview__file" controls preload="none">
                <source src="" type="audio/mp4" >
                Your browser does not support HTML5 audio. Try Chrome 6+
            </audio>
            <br>
            <span class="file-preview__default-text"> File Preview </span>
        </div>

        <div class="time-signature row">
            <div class="col-4">
                {{ form.time_signature|as_crispy_field }}
            </div>
        </div>

        <div class="reset-btn">
            <button onclick="resetChords()">Reset Chords</button>
        </div>

        <div id="reset">reset</div>


        <div class="chords-input col-12">
        <div class="row chords-row">
                <div class="separator-lr"></div>
                {{ form.m1_b1|as_crispy_field }}
                {{ form.m1_b2|as_crispy_field }}
                {{ form.m1_b3|as_crispy_field }}
                {{ form.m1_b4|as_crispy_field }}
                <div class="separator-mid"></div>
                {{ form.m2_b1|as_crispy_field }}
                {{ form.m2_b2|as_crispy_field }}
                {{ form.m2_b3|as_crispy_field }}
                {{ form.m2_b4|as_crispy_field }}
                <div class="separator-lr"></div>
        </div>
        <div class="row chords-row">
                <div class="separator-lr"></div>
                {{ form.m3_b1|as_crispy_field }}
                {{ form.m3_b2|as_crispy_field }}
                {{ form.m3_b3|as_crispy_field }}
                {{ form.m3_b4|as_crispy_field }}
                <div class="separator-mid"></div>
                {{ form.m4_b1|as_crispy_field }}
                {{ form.m4_b2|as_crispy_field }}
                {{ form.m4_b3|as_crispy_field }}
                {{ form.m4_b4|as_crispy_field }}
                <div class="separator-lr"></div>
        </div>
        </div>

        <div class="form-input row">
            <div class="col-lg-6">
                {{ form.genre|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.instrument|as_crispy_field }}
            </div>
        </div>

        <div class="form-submit">
            <button class="btn btn-primary btn-block btn-lg" type="submit" id="submit">Submit</button>
        </div>
    </form>

</div>



<!-- preview script -->
<script type="text/javascript">
    /* https://www.youtube.com/watch?v=VElnT8EoEEM */
    const inpFile = document.getElementById("inpFile");
    const previewContainer = document.getElementById("filePreview");
    const previewAudio = previewContainer.querySelector(".file-preview__file");
    const previewDefaultText = previewContainer.querySelector(".file-preview__default-text");

    inpFile.addEventListener("change", function() {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            /* hide preview default text */
            previewDefaultText.style.display = "none";
            previewAudio.style.display = "block";

            reader.addEventListener("load", function() {
                previewAudio.setAttribute("src", this.result);
            });

            reader.readAsDataURL(file);
        } else {
            previewDefaultText.style.display = null;
            previewAudio.style.display = null;
            previewImage.setAttribute("src", "");
        }
    });
</script>


<script type="text/javascript">

    function changeLayout() {
        if (document.getElementById("id_time_signature_1").checked){
            $(".ts44").show();
            $(".chords-row .form-group").css("width","11.5%");
        } else if (document.getElementById("id_time_signature_2").checked){
            $(".ts44").hide();
            $(".chords-row .form-group").css("width","15.33%");
            $("#div_id_m1_b4, #div_id_m2_b4, #div_id_m3_b4, #div_id_m4_b4").css("width","0px");
            document.getElementById("id_m1_b4").selectedIndex = "-";
            document.getElementById("id_m2_b4").selectedIndex = "-";
            document.getElementById("id_m3_b4").selectedIndex = "-";
            document.getElementById("id_m4_b4").selectedIndex = "-";
        }
    };

</script>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
/* reset form script */
/*$("#reset").on("click", function () {
    $('#id_m1_b1 option').prop('selected', function() {
        return this.defaultSelected;
    });
});*/


$("#reset").on("click", function () {
    $(innerDivId).prop('selected', function() {
        return this.defaultSelected;
    });
});


/*loop? https://stackoverflow.com/questions/11291300/how-to-loop-over-the-child-divs-of-a-div-and-get-the-ids-of-the-child-divs */
$('.chords-input').find('div').each(function(){
    var innerDivId = $(this).attr('id');
    console.log(innerDivId);
});


</script>

{% endblock content %}


