
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load repo_extras %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.35/Tone.js"></script>


{% include 'repo/snippets/lick_snippet_style.html' %}

<h1>lick # {{ lick.id }}</h1>

{% if request.user.is_authenticated %}
  <form action="{% url 'like_lick' %}" method="post">
    {% csrf_token %}
    {% if is_liked %}
    <button type="submit" name="lick_id" value="{{ lick.id }}" class="btn btn-danger">Dislike</button>
    {% else %}
    <button type="submit" name="lick_id" value="{{ lick.id }}" class="btn btn-primary">Like</button>
    {% endif %}
  </form>
{% endif %}

  {{ total_likes }} Like{{ total_likes|pluralize }}

    {% if lick.author == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'lick-update' lick.id %}">Edit</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'lick-delete' lick.id %}">Delete</a>
        </div>
    {% endif %}

    {% include 'repo/snippets/lick_snippet.html' with lick=lick chord_seq_query=chord_seq_query %}


{% endblock content %}


