{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}






<style>
    .lick-form {
        margin-top: 50px;
        margin-bottom: 100px;
        background: #f9f9f9;
        width: 100%;
        padding: 5px;
        border: 2px solid #234444;
        border-radius: 15px;
    }
    .chords-row, .form-input {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .file-preview {
        width: 100%;
        height: 50px;
        border: 2px solid #ddd;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .file-preview__file {
        display: none;
        margin: 8px 0;
        width: 100%;
    }
    .file-preview__default-text {
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: #888888;
    }
    .file-input, .file-preview, .chords-input {
        /*background-color: #00ff00;
        width: 100%;*/
    }
    .form-submit {
        margin-bottom: 10px
    }
    /*select, option {
        border: none;
        background: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 0;
        margin: 0;
    }
    select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0px;
    text-overflow: '';

}

form {
    position: relative;
    top: 50px;
}

form * {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    behavior: url(PIE.htc);
}

select, option {
    border: none;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

form {
    position: relative;
    width: 340px;
    margin: 0 auto;
    font-weight: bold;
    color: #DDD;
}

select {
    background: #555;
    border-radius: 4px;
    width: 240px;
    height: 35px;
    background: url('select.png') no-repeat;
    color: #DDD;
    padding: 8px;
    outline: solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

}

select:focus {
    background: url('select.png') no-repeat 0 -35px;
}

option {
    background: #666;
    color: #DDD;
    padding: 5px;
    text-align: center;
} */

.chords-input .form-group {
    font-size: 0;
    padding: 0px;
    margin: 0px;
    max-width: calc(90% / 8);
}
.chords-input .form-group label{
    position: none;
}



.chords-input .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    /*color: #222;*/
    padding: 0rem;
    margin: 0rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


</style>

<div class="container-fluid col-12">
    <form class="lick-form" method="POST" enctype="multipart/form-data">
        <h2>Upload Lick</h2>
        {% csrf_token %}
        <div class="file-input">
            {{ form.file|as_crispy_field }}
        </div>

        <div class="file-preview" id="filePreview">
            <audio class="file-preview__file" controls preload="none">
                <source src="" type="audio/mp4" >
                Your browser does not support HTML5 audio. Try Chrome 6+
            </audio>
            <br>
            <span class="file-preview__default-text"> File Preview </span>
        </div>

        <div class="time-signature row">
            <div class="col-2">
                {{ form.time_signature|as_crispy_field }}
            </div>
        </div>

        <!-- 4/4 form-->
        <div class="chords-input col-12">
        <div class="row chords-row">
            <img class="bar" src="{% static 'img/chords/bar.png' %}">
                {{ form.m1_b1|as_crispy_field }}
                {{ form.m1_b2|as_crispy_field }}
                {{ form.m1_b3|as_crispy_field }}
                {{ form.m1_b4|as_crispy_field }}
            <img class="bar" src="{% static 'img/chords/bar.png' %}">
                {{ form.m2_b1|as_crispy_field }}
                {{ form.m2_b2|as_crispy_field }}
                {{ form.m2_b3|as_crispy_field }}
                {{ form.m2_b4|as_crispy_field }}
            <img class="bar" src="{% static 'img/chords/bar.png' %}">
        </div>
        <div class="row">
            <img class="bar" src="{% static 'img/chords/bar.png' %}">
                {{ form.m3_b1|as_crispy_field }}
                {{ form.m3_b2|as_crispy_field }}
                {{ form.m3_b3|as_crispy_field }}
                {{ form.m3_b4|as_crispy_field }}
            <img class="bar" src="{% static 'img/chords/bar.png' %}">
                {{ form.m4_b1|as_crispy_field }}
                {{ form.m4_b2|as_crispy_field }}
                {{ form.m4_b3|as_crispy_field }}
                {{ form.m4_b4|as_crispy_field }}
            <img class="bar" src="{% static 'img/chords/bar.png' %}">
        </div>
        </div>

        <div class="form-input row">
            <div class="col-lg-6">
                {{ form.genre|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.instrument|as_crispy_field }}
            </div>
        </div>

        <div class="form-submit">
            <button class="btn btn-primary btn-block btn-lg" type="submit" id="submit">Submit</button>
        </div>
    </form>

</div>





<!-- preview script -->
<script type="text/javascript">
    /* https://www.youtube.com/watch?v=VElnT8EoEEM */
    const inpFile = document.getElementById("inpFile");
    const previewContainer = document.getElementById("filePreview");
    const previewAudio = previewContainer.querySelector(".file-preview__file");
    const previewDefaultText = previewContainer.querySelector(".file-preview__default-text");

    inpFile.addEventListener("change", function() {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            /* hide preview default text */
            previewDefaultText.style.display = "none";
            previewAudio.style.display = "block";

            reader.addEventListener("load", function() {
                previewAudio.setAttribute("src", this.result);
            });

            reader.readAsDataURL(file);
        } else {
            previewDefaultText.style.display = null;
            previewAudio.style.display = null;
            previewImage.setAttribute("src", "");
        }
    });
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">

$('#id_time_signature').on('change', function () {
    if(this.value === "4/4"){
        $(".ts44").show();
    } else {
        $(".ts44").hide();
    }
});

</script>


{% endblock content %}


