{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

<style type="text/css">
    .chords-row {
    height: 50px;
    background-image: url("{% static 'img/staff.png' %}");
    background-size: 100% 100%;
}


.audio-player {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    height: 40px;
    padding: 0px 0px 0px 5px;
}


.audio-player button.play {
        display: block;
        width: 35px;
        height: 35px;
        border: 0;
        background-color: #333333;
        color: white;
        font-size: 20px;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
}


.seek-bar {

    margin-left: 10px;
    margin-right: 5px;
    width: 100%;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    border-radius: 100000px;
    cursor: pointer;
}

.seek-bar .fill {
  height: 20px;
  background-color: #666666;
  border-radius: 100000px;
}

.seek-bar .handle {
  width: 8px;
  height: 20px;
  background-color: #333333;
  border-radius: 100000px;
  margin-left: -5px;
  transform: scale(2);
  transition: all 0.1s;
  pointer-events: none;
}


.preview-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    opacity: .8;
}

#inpFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file_upload_info {
    color: #333333;
}


</style>


<!-- modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete Lick {{ lick.id}}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <a id="delete_btn" href="{% url 'lick-delete' pk=lick.id %}?prev_url="><button type="button" class="btn btn-danger">Yes, Delete</button></a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid col-12">


    <form class="lick-form" method="POST" enctype="multipart/form-data" onchange="changeLayout()">
        {% csrf_token %}

        <input type="hidden" id="previous_page" name="previous_page" value="TESTVALUE">
        <h2>Edit Lick {{ lick.id }}</h2>
        <label for="inpFile" id="inpFileLabel" class="requiredField btn btn-secondary">Change file</label>
        <button class="btn btn-danger btn-sm mt-1 mb-1" type="button" data-toggle="modal" data-target="#delete"><i class="fas fa-trash-alt fa-lg"></i></button>


        <input type="file" name="file" id="inpFile" class="clearablefileinput form-control" />

        <div id="file_upload_info">
            <p>Choose audio file of type '.mp3', '.m4a' or '.ogg'. <br> Length maximum 4 measures.</p>
        </div>

            <div class="audio-player col-12">
                  <button class="play" id="play" type="button"><i class="ion-play"></i></button>

                  <div class="seek-bar" id="seekbar">
                      <div class="fill"></div>
                      <div class="handle"></div>
                  </div>

                  <div class="preview-overlay" id="preview"></div>

            </div>



        <div class="time-signature row">
            <div class="col-4">
                {{ form.time_signature|as_crispy_field }}
            </div>
        </div>

        <button class="reset-chords-btn btn btn-secondary" id="reset_chords" onclick="resetChords()" type="button">Reset Chords</button>


        <div class="chords-input col-12">
        <div class="row chords-row">
                <div class="separator-lr"></div>
                {{ form.m1_b1|as_crispy_field }}
                {{ form.m1_b2|as_crispy_field }}
                {{ form.m1_b3|as_crispy_field }}
                {{ form.m1_b4|as_crispy_field }}
                <div class="separator-mid"></div>
                {{ form.m2_b1|as_crispy_field }}
                {{ form.m2_b2|as_crispy_field }}
                {{ form.m2_b3|as_crispy_field }}
                {{ form.m2_b4|as_crispy_field }}
                <div class="separator-lr"></div>
        </div>
        <div class="row chords-row">
                <div class="separator-lr"></div>
                {{ form.m3_b1|as_crispy_field }}
                {{ form.m3_b2|as_crispy_field }}
                {{ form.m3_b3|as_crispy_field }}
                {{ form.m3_b4|as_crispy_field }}
                <div class="separator-mid"></div>
                {{ form.m4_b1|as_crispy_field }}
                {{ form.m4_b2|as_crispy_field }}
                {{ form.m4_b3|as_crispy_field }}
                {{ form.m4_b4|as_crispy_field }}
                <div class="separator-lr"></div>
        </div>
        </div>

        <div class="form-input row">
            <div class="col-lg-6">
                {{ form.genre|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.instrument|as_crispy_field }}
            </div>
        </div>

        <div class="form-submit">
            <button class="btn btn-primary btn-block btn-lg" type="submit" id="submit">Submit</button>
        </div>
    </form>

</div>



<script type="text/javascript">


// remember previous page in hidden input field
prev = document.getElementById("previous_page");
prev.value = document.referrer;

delete_btn = document.getElementById("delete_btn");
url = delete_btn.href.split("/?")[0]
new_url = url + "/?prev_url=" + document.referrer;
delete_btn.href = new_url.replace(/&/g, "@")

//// audio preview

//initial values
lick_URL = "{{ lick.file.url }}";
playButton = document.getElementById("play");
playButtonIcon = playButton.querySelector('i');
seekBar = document.getElementById("seekbar");
fillBar = seekBar.querySelector('.fill');
mouseDown = false;
preview = document.getElementById("preview");

//play button
playButton.addEventListener('click', function () {
    if (audio.paused) {
        audio.play();
    } else {
        audio.pause();
    }
});


function update_audio_controls() {

    preview.style.display = "none";

    audio.addEventListener('play', function () {
      playButtonIcon.className = 'ion-pause';
    });

    audio.addEventListener('pause', function () {
      playButtonIcon.className = 'ion-play';
    });

    audio.addEventListener('timeupdate', function () {
      if (mouseDown) return;
        let p = audio.currentTime / audio.duration;
        fillBar.style.width = p * 100 + "%";
    });

    seekBar.addEventListener('mousedown', function (e) {
      mouseDown = true;
      window.rect = e.target.getBoundingClientRect();
      let x = e.clientX - rect.left;
      let p = x / seekBar.clientWidth;
      fillBar.style.width = p * 100 + "%";
    });

    window.addEventListener('mousemove', function (e) {
      if (!mouseDown) return;
        let x = e.clientX - rect.left;
        let p = x / seekBar.clientWidth;
        fillBar.style.width = p * 100 + "%";
    });

    window.addEventListener('mouseup', function (e) {
      if (!mouseDown) return;
        mouseDown = false;
        let x = e.clientX - rect.left;
        let p = x / seekBar.clientWidth;
        fillBar.style.width = p * 100 + "%";
        audio.currentTime = p * audio.duration;
      if (!audio.paused) {
        audio.play();
      }
    });

};

function audio_reset(){
    if (typeof audio != 'undefined') {
        audio.pause();
        audio.currentTime = 0;
        playButtonIcon.className = 'ion-play';
    }
}

submit_btn = document.getElementById("submit");
initial_submit_classname = submit_btn.className

function disable_submit_btn(){
    if (submit_btn.className == initial_submit_classname){
        submit_btn.className += " btn-secondary disable";
        submit_btn.type = "button";
    }
}

if (lick_URL) {
    audio = new Audio("{{ lick.file.url }}");
    update_audio_controls();
}

// get audio file src from input field
inpFile = document.getElementById("inpFile");
inpFileLabel = document.getElementById("inpFileLabel")
file_upload_info = document.getElementById("file_upload_info")


inpFile.addEventListener("change", function() {
    audio_reset();
    file = this.files[0];
    inpFileLabel.textContent=file.name;
    //file_upload_info.innerHTML = "Choose audio file of type .mp3 .m4a or .ogg. Max size 1 MB.";
    preview.style.display = "hidden";
    submit_btn.className = initial_submit_classname
    submit_btn.type = "submit";

    if (file == null) {
        inpFileLabel.textContent="Choose File";
        preview.style.display = "block";
        disable_submit_btn()
    } else if (!(file.type.split("/")[0] == "audio")) {
        file_upload_info.innerHTML = "Wrong file type. Please use audio, preferably '.mp3', '.m4a' or '.ogg'.";
        file_upload_info.style.color = "#ff0000"
        preview.style.display = "block";
        disable_submit_btn()
    } else if (file.size > 1048576) {
        file_upload_info.innerHTML = "File too large (limit 1 MB). Consider shortening audio.";
        file_upload_info.style.color = "#ff0000"
        preview.style.display = "block";
        disable_submit_btn()
    } else {
        file_upload_info.innerHTML = "";
        reader = new FileReader();
        reader.addEventListener("load", function() {
            audio = new Audio(this.result);
            update_audio_controls();
        });
        reader.readAsDataURL(file);
    }
});




//// change layout when select 3/4

function changeLayout() {
    if (document.getElementById("id_time_signature_1").checked){
        $(".ts44").show();
        $(".chords-row .form-group").css("width","11.5%");
    } else if (document.getElementById("id_time_signature_2").checked){
        $(".ts44").hide();
        $(".chords-row .form-group").css("width","15.33%");
        $("#div_id_m1_b4, #div_id_m2_b4, #div_id_m3_b4, #div_id_m4_b4").css("width","0px");
        document.getElementById("id_m1_b4").selectedIndex = "-";
        document.getElementById("id_m2_b4").selectedIndex = "-";
        document.getElementById("id_m3_b4").selectedIndex = "-";
        document.getElementById("id_m4_b4").selectedIndex = "-";
    }
};



//// reset chords button

function resetChords() {
    console.log("reset chords")
}


</script>


{% endblock content %}


