{% extends "base.html" %}
{% load static %}
{% load repo_extras %}
{% load static compress %}

{% block head_title %}Lick {{pk}} {% endblock head_title %}

{% block content %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lick_snippet.css' %}">
{% endcompress %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.35/Tone.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    const instr_transpose_shift = Number("{{ user.profile.instr_transpose_shift }}")
    const lck_json = "{{ licks_json }}";
    const user_liked = "{{ user_liked }}".split(",")
    const user_faved = "{{ user_faved }}".split(",")
    const tortoise_on_url = "{% static 'img/tortoise_hover.png' %}";
    const tortoise_off_url = "{% static 'img/tortoise_toggled.png' %}";
</script>



<div class="row">
<div class="area-controls col-md-12 col-lg-6">

</div>

</div>

<div class="area-list col-md-12 col-lg-6">


{% if licks %}

    {% for lick in licks %}

    {% include 'repo/snippets/lick_snippet.html' with lick=lick chord_seq_query=chord_seq_query %}

    {% endfor %}

{% else %}

    <div class="alert alert-primary" role="alert">
       This lick does not exist...
       <br>
       <div>
       <a href="{% url 'browse-licks' %}" class="btn btn-info" role="button">Browse Licks</a>
       <a href="{% url 'lick-create' %}" class="btn btn-info" role="button">Create Lick</a>
       </div>
    </div>

{% endif %}

</div>

{% compress js %}
<script src="{% static 'js/lick_panel.js' %}"></script>
{% endcompress %}


{% endblock content %}
