{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load repo_extras %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/my_licks.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lick_snippet.css' %}">

<style type="text/css">
.chords-row {
    background-image: url("{% static 'img/staff.png' %}");
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.35/Tone.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    // used to select initial value of transpose button
    function selectElement(id, valueToSelect) {
    let element = document.getElementById(id);
    element.value = valueToSelect;
    }

    // active nav link
    $(document).ready(function(){
       $(".active").removeClass("active");
       $("#link-mylicks").addClass("active");
    });
</script>


<div class="mylicks-controls row">
      <form class="col-6" method="GET" action=".">
        <input type="hidden" name="display" value="mylicks">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-music fa-lg"></i>
          My Licks
        </button>
      </form>
      <form class="col-6" method="GET" action=".">
        <input type="hidden" name="display" value="favorites">
        <button type="submit" class="btn btn-danger">
          <i class="fas fa-star fa-lg"></i>
          Favorites
        </button>
      </form>
</div>

{% include 'repo/snippets/paginator_snippet.html' with licks=licks %}

{% if licks %}

    {% for lick in licks %}

    {% include 'repo/snippets/lick_snippet.html' with lick=lick chord_seq_query=chord_seq_query %}

    {% endfor %}

{% else %}

  {% if display == 'favorites' %}
    <div class="alert alert-primary" role="alert">
       You have no favorites selected...
       <br>
       <a href="{% url 'browse-licks' %}" class="btn btn-info" role="button">Browse Licks</a>
    </div>
  {% else %}
    <div class="alert alert-primary" role="alert">
       You have no licks yet...
       <br>
       <a href="{% url 'lick-create' %}" class="btn btn-info" role="button">Create Lick</a>
    </div>
  {% endif %}

{% endif %}

{% include 'repo/snippets/paginator_snippet.html' with licks=licks %}

<script type="text/javascript">
const chords_dir = "{% static 'img/chords/' %}";
const tortoise_on_url = "{% static 'img/tortoise_hover.png' %}";
const tortoise_off_url = "{% static 'img/tortoise_toggled.png' %}";
</script>
<script src="{% static 'js/lick_snippet.js' %}"></script>


{% endblock content %}
