{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load repo_extras %}


{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.35/Tone.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


<style type="text/css">
.chords-row {
    background-image: url("{% static 'img/staff.png' %}");
}
</style>


<script type="text/javascript">
    // used to select initial value of transpose button
    function selectElement(id, valueToSelect) {
    let element = document.getElementById(id);
    element.value = valueToSelect;
    }

    // active nav link
    $(document).ready(function(){
       $(".active").removeClass("active");
       $("#link-mylicks").addClass("active");
    });
</script>



{% include 'repo/snippets/my_licks_style.html' %}
{% include 'repo/snippets/lick_snippet_style.html' %}



<div class="mylicks-controls row">
      <form class="col-6" method="GET" action=".">
        <input type="hidden" name="display" value="mylicks">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-music fa-lg"></i>
          My Licks
        </button>
      </form>
      <form class="col-6" method="GET" action=".">
        <input type="hidden" name="display" value="favorites">
        <button type="submit" class="btn btn-danger">
          <i class="fas fa-star fa-lg"></i>
          Favorites
        </button>
      </form>
</div>

{% if licks.has_other_pages %}
<div class="paginator">
    {% if licks.has_previous %}
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' 1 %}"><i class="fas fa-angle-double-left fa-lg"></i></a>
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.previous_page_number %}"><i class="fas fa-angle-left fa-lg"></i></a>
    {% endif %}

    {% for num in licks.paginator.page_range %}
      {% if licks.number == num %}
        <a class = "btn btn-primary mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% elif num > licks.number|add:'-4' and num < licks.number|add:'4'%}
        <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if licks.has_next %}
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.next_page_number %}"><i class="fas fa-angle-right fa-lg"></i></a>
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.paginator.num_pages %}"><i class="fas fa-angle-double-right fa-lg"></i></a>
    {% endif %}
</div>
{% endif %}


{% if licks %}

    {% for lick in licks %}

    {% include 'repo/snippets/lick_snippet.html' with lick=lick chord_seq_query=chord_seq_query %}

    {% endfor %}

{% else %}

  {% if display == 'favorites' %}
    <div class="alert alert-primary" role="alert">
       You have no favorites selected...
       <br>
       <a href="{% url 'browse-licks' %}" class="btn btn-info" role="button">Browse Licks</a>
    </div>
  {% else %}
    <div class="alert alert-primary" role="alert">
       You have no licks yet...
       <br>
       <a href="{% url 'lick-create' %}" class="btn btn-info" role="button">Create Lick</a>
    </div>
  {% endif %}

{% endif %}


{% if licks.has_other_pages %}
<div class="paginator">
    {% if licks.has_previous %}
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' 1 %}"><i class="fas fa-angle-double-left fa-lg"></i></a>
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.previous_page_number %}"><i class="fas fa-angle-left fa-lg"></i></a>
    {% endif %}

    {% for num in licks.paginator.page_range %}
      {% if licks.number == num %}
        <a class = "btn btn-primary mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% elif num > licks.number|add:'-4' and num < licks.number|add:'4'%}
        <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' num %}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if licks.has_next %}
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.next_page_number %}"><i class="fas fa-angle-right fa-lg"></i></a>
      <a class = "btn btn-outline-primary mb-4" href="?{% url_replace request 'page' licks.paginator.num_pages %}"><i class="fas fa-angle-double-right fa-lg"></i></a>
    {% endif %}
</div>
{% endif %}



{% include 'repo/snippets/lick_snippet_js.html' %}


{% endblock content %}
