{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} | Login{% endblock head_title %}

{% block content %}

<script type="text/javascript">
     // active nav link
    $(document).ready(function(){
       $(".active").removeClass("active");
       $("#link-login").addClass("active");
    });
</script>

<section class="panel">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <div class="text-center">
                <h2>Log In</h2>
                <hr>
            </div>
            {{ form|crispy }}
        </fieldset>

            <button class="btn btn-primary btn-lg" type="submit">Login</button>
            <small class="text-muted ml-2">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </small>
            <hr>

    </form>
        <small class="text-muted">
        Need an account? <a class ="ml-2" href="{% url 'register' %}"> Sign Up Now</a>
        </small>
</section>

{% endblock content %}
