{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
     // active nav link
    $(document).ready(function(){
       $(".active").removeClass("active");
       $("#link-logout").addClass("active");
    });
</script>
<section class="panel">
    <div class="text-center">
        <h2>You have been logged out</h2>
        <hr>
        <h5> See you again soon!</h5>
        <hr>
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg" role="button"> Log in again</a>
    </div>
</section>
{% endblock content %}
