{% extends "base.html" %}

{% block head_title %}{{ block.super }} | Logout{% endblock head_title %}

{% block content %}
<script type="text/javascript">
     // active nav link
    $(document).ready(function(){
       $(".active").removeClass("active");
    });
</script>

<div class="row margin">
    <div id= "ads-left" class="col-md-0 col-lg-0 col-xl-3"></div>
    <div class="main-content col-md-9 col-lg-8 col-xl-6">


<section class="panel">
    <div class="text-center">
        <h2>You have been logged out</h2>
        <hr>
        <h5> See you again soon!</h5>
        <hr>
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg" role="button"> Log in again</a>
    </div>
</section>

    </div>
    <div id= "ads-right" class="col-md-3 col-lg-4 col-xl-3"></div>
</div>
{% endblock content %}
