{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row margin">
    <div id= "ads-left" class="col-md-0 col-lg-0 col-xl-3"></div>
    <div class="main-content col-md-9 col-lg-8 col-xl-6">


<section class="panel">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <div class="text-center">
                <h2>Reset Password</h2>
                <hr>
            </div>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Reset Password</button>
        </div>
    </form>
</section>

    </div>
    <div id= "ads-right" class="col-md-3 col-lg-4 col-xl-3"></div>
</div>

{% endblock content %}
