{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<script type="text/javascript">
     // active nav link
    $(document).ready(function(){
       $(".active").removeClass("active");
       $("#link-register").addClass("active");
    });
</script>


<section class="panel">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <div class="text-center">
                <h2>Join the LickStack community!</h2>
                <hr>
            </div>
            {{ form|crispy }}
        </fieldset>

            <button class="btn btn-primary btn-lg" type="submit">Sign Up</button>

    </form>
    <hr>

        <small class="text-muted">
        Already have an account? <a class ="ml-2" href="{% url 'login' %}"> Sign In</a>
        </small>

</section>

{% endblock content %}
