<html>
<head>
</head>
<body>

<p>Dear fellow musician,</p>

<p>You are among the first to sign up to the LickStack and I would like to thank you for your interest.</p>

<p><b>This is a community project from here on:</b>
    <ul>
      <li>If you find some free time, I am asking you to <b>submit a lick or two of your own</b> under
<a href="https://www.lickstack.com/lick/new">New Lick</a>.</li>
      <li>If you have any <b>problems, ideas or suggestions</b>, please leave a reply to this email.</li>
      <li>If you would like to <b>get more involved</b>, don't hesitate to get in touch with me.</li>

    </ul>
</p>

<p>I imagine the beginning will require some patience, but with your help we can grow our collection and turn the LickStack into a truly useful resource!</p>
<p>Thanks for your participation & happy soloing,</p>
<p>- Michael<br>
<em>supreme_lickster<em></p>

</body>
</html>
