{% load static %}
<!DOCTYPE html>
<html>
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    {% if title %}
    <title>LickStack - {{ title }}</title>
    {% else %}
    <title>LickStack</title>
    {% endif %}

    <!-- add icon link -->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>


</head>


<body>

    {% include 'repo/snippets/base_css.html' %}


  <link rel="icon" type="img/png" href="{% static 'img/Logo.png' %}">

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light sticky-top">
<div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'img/Logo.png' %}" class="navbar-logo" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'browse-licks' %}">Browse Licks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my-licks' %}">My Licks</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lick-create' %}">New Lick</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
                {% if user.is_staff %}
            <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
                {% endif %}
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>

<!-- main content -->
<main>
  <div class="row">
    <div id= "ads-left" class="col-md-0 col-lg-2 col-xl-3"></div>
    <div class="main-content col-md-9 col-lg-8 col-xl-6">

          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                      {{ message}}
                  </div>
              {% endfor %}
          {% endif %}

          {% block content %}{% endblock content %}
    </div>
    <div id= "ads-right" class="col-md-3 col-lg-2 col-xl-3"></div>
  </div>
</main>

<!-- footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
    <div class="col-md-6">
        <hr class="light">
        <h5>Contact</h5>
        <hr class="light">
        <p>info@lickstack.com</p>
    </div>
    <div class="col-md-6 social padding">
        <hr class="light">
        <h5>Follow us</h5>
        <hr class="light">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="col-12">
        <hr class="light-100">
        <img class="footer-logo" src="{% static 'img/Logo.png' %}" alt="Logo">
        <h5>&copy; LickStack.com</h5>
    </div>
</div>
</div>
</footer>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</body>
</html>
