
.mylicks-controls {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mylicks-controls form {
    width: 100%;
    padding: 0px;
}

.mylicks-controls button {
    width: 100%;
    height: 46px;
}

.mylicks-icon {
    display:inline;
    color: white;
    margin-right: 10px;
}
