
/* base layout */

.area-controls{
    max-width: 500px;
    padding: 20px 10px 0px 10px;
    /*background-color: #ffff00;*/
}

@media (min-width:992px){
  .area-controls{
    padding-top: 75px;
  }
}

.area-list{
    max-width: 500px;
    padding: 0px 10px 10px 10px;
    /*background-color: #ff00ff;*/
}


/*
.mylicks-controls {
    margin-top: 20px;
    margin-bottom: 20px;
}*/

.mylicks-controls form {
    width: 100%;
    padding: 0px;
}

.mylicks-controls button {
    width: 100%;
    height: 46px;
    color: #222;
    border: 2px solid #222;
    margin: 5px 0px;
}

.mylicks-controls .icon-star{
    color: #222;
}

.mylicks-icon {
    display:inline;
    margin-right: 10px;
}

