.paginator {
    margin: 20px 0px;
    max-width: 100%;
    white-space: nowrap;
}

.paginator-btn {
    margin: 0px !important;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 33px;
    background-color: #f9f9f9;
    color: #333;
    font-weight: bold;
    border: 2px solid #333;
    height: 35px;
    width: 35px;
}

.paginator .btn-primary{
    background: #C00001;
    color: #f9f9f9;
}

.paginator .btn:hover {
    background: #cccccc;
}

.icon-chevron-left, .icon-chevron-right{
  margin-top: 8px;
  font-size: 16px;
}

.icon-angle-double-left, .icon-angle-double-right{
  margin-top: 3px;
  font-weight: 800;
}
